<script>
import flatten from 'lodash/flatten'
import some from 'lodash/some'
import uniqBy from 'lodash/uniqBy'

import importBlock from './importBlock.vue'

import { isColNameValid } from './methods.js'

export default {
  components: { importBlock },
  data() {
    return {
      overflowScroll: [],
    }
  },
  props: {
    importStructure: Array,
  },
  computed: {
    validDepths() {
      let depths = [];

      function checkStructuresValid(structures) {
        let colNames = flatten(structures.map(structure => structure && structure.colNames));
        if (colNames[0] === null) { // check depth has at least 1 imported column
          if (colNames.length === 1) return 'Must have at least 1 imported column';
          else colNames.shift();
        }
        if ( some(colNames, colName => !isColNameValid(colName)) ) return 'All column names required';
        return (uniqBy(colNames, val => val.toLowerCase()).length === colNames.length) ?
          true :
          'Column names must be unique';
      }

      let i = 0, currentDepth = this.importStructure[i++];
      while (currentDepth) {
        if (currentDepth.inner) {
          depths.push(checkStructuresValid([currentDepth]));

          currentDepth = null;
        }
        else {
          depths.push(checkStructuresValid([currentDepth.selected, ...currentDepth.selectedFlat]));

          currentDepth = (currentDepth.selected && currentDepth.selected.innerStructure) ? 
          currentDepth.selected.innerStructure :
          this.importStructure[i++];
        }
      }
      return depths;
    }
  },
  methods: {
    onResize() {
      this.overflowScroll = this.$refs.depthScroll.map(scrollEl => scrollEl.scrollWidth > scrollEl.offsetWidth);
    },
  },
  mounted() {
    window.addEventListener('resize', this.onResize);
    this.onResize();
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.onResize);
  },
  watch: {
    validDepths: {
      handler(validDepths) {
        this.$emit('updateImportValid', !some(validDepths, valid => valid !== true));
      },
      immediate: true,
    }
  },
  render() {
    const depths = [], importStruct = this.importStructure;

    let i = 0, currentDepth = importStruct[i++];
    while (currentDepth) {
      if (currentDepth.inner) {
        depths.push(
          [<import-block
            isInner={true}
            structure={currentDepth} />]
        )
        currentDepth = null;
      } else {
        let depth = [];
        if (currentDepth.folder.paths.length) {
          let selectDepth = currentDepth;
          depth.push(
            <import-block
              structure={currentDepth.folder}
              key={currentDepth.folder}
              value={selectDepth.selected}
              onInput={val => selectDepth.selected = val} />
          )
        }
        depth.push(...currentDepth.fileStructures.map((structure) => {
          let selected = (structure.flat) ? 'selectedFlat' : 'selected';
          let selectDepth = currentDepth;
          return (
            <import-block
              structure={structure}
              key={structure}
              value={selectDepth[selected]}
              onInput={val => selectDepth[selected] = val} />
          )
        }))
        depths.push(depth);
        currentDepth = (currentDepth.selected && currentDepth.selected.innerStructure) ? 
          currentDepth.selected.innerStructure :
          importStruct[i++]
      }
    }

    return (
      <div class="import-selection">
      {
        depths.map((depth, index) => {
          return (
            <div class="import-selection-depth">
              <div class="import-selection-depth-label">
                Depth <span>{ index+1 }</span>
                <span class="import-selection-depth-error">
                  { (this.validDepths[index]) !== true ? this.validDepths[index] : '' }
                </span>
              </div>
              <div class="import-selection-depth-scroll" ref="depthScroll" refInFor
                style={{ overflowX: this.overflowScroll[index] ? 'scroll' : '', 
                         overflowY: this.overflowScroll[index] ? 'hidden' : '' }}>
                { depth }
              </div>
            </div>
          )
        })
      }
      </div>
    )
  }
}
</script>

<style lang="stylus">
.import-selection
  max-width: 100%

.import-selection-depth
  position: relative
  display: flex
  border-bottom: 1px solid alpha(white, 20%)
  padding-left: 70px

  &:last-child
    border-bottom: none

.import-selection-depth-scroll
  display: flex
  padding: 5px
  max-width: 100%

  &:after
    content: ''
    width: 10px
    flex-shrink: 0

.import-selection-depth-label
  position: absolute
  left: 0
  top: 0
  display: flex
  flex-direction: column
  align-items: center
  width: 70px
  background: #36353B
  height: 100%
  padding-top: 16px
  box-sizing: border-box
  font-size: 12px
  text-transform: uppercase
  font-style: italic
  z-index: 1
  color: alpha(white, 70%)

  span
    font-weight: 600

  .import-selection-depth-error
    color: #f44336
    font-weight: 400
    text-transform: none
    text-align: center
    padding: 5px
    margin-top: 7px
</style>
