<template>
<div class="importview-container">
  <div class="importview-header">
    Data Import
    <ui-button @click="runDataImport" raised :theme="importValid?'primary':'light'" :disabled="!importValid">Import</ui-button>
  </div>
  <div class="importview">
    <div v-if="importError" style="padding: 0 20px 20px 20px">
      <h2>Import Error</h2>
      <pre>{{ importError }}</pre>
    </div>
    <div v-else-if="loading" class="importview-loading">
      {{ loading }}...
    </div>
    <div v-else-if="!importStructure.length" class="importview-dropzone" :class="{'importview-dropzone-active': dragzoneActive}"
      @drag.stop.prevent
      @dragenter.stop.prevent="dragEnter"
      @dragleave.stop.prevent="dragLeave"
      @dragover.stop.prevent="$event.dataTransfer.dropEffect = 'copy'"
      @drop.stop.prevent="filesDropped"
      >
      <div class="importview-dropzone-inner">
        <svg viewBox="0 0 10 10">
          <path d="M 2 6.25 L 2 8 L 8 8 L 8 6.25 M 5 3.5 L 5 6.75 M 3.75 5.25 L 5 6.75 L 6.25 5.25" vector-effect="non-scaling-stroke" />
        </svg>
        <div class="importview-fileselect">Choose <span @click="choose('files')">files</span> or <span @click="choose('folders')">folders</span></div>
        <i>or</i>
        <div class="importview-filedrop">Drop files/folders here</div>
      </div>
    </div>
    <import-selection v-else :importStructure="importStructure" @updateImportValid="importValid = $event" />
  </div>
</div>
</template>

<script>
import { createImportStructure, createRImportData } from './methods.js'
import importSelection from './importSelection.vue'

const {dialog} = window.require('electron').remote
const browserWindow = window.require('electron').remote.getCurrentWindow()

export default {
  components: { importSelection },
  data() {
    return {
      dragzoneActive: false,
      importStructure: [],
      basePath: '',
      loading: '',
      importValid: false,
      importError: null,
    };
  },
  props: {
    blockId: String,
    runAdditionalFunction: Function,
    manuallySetBlockValidity: Function,
  },
  methods: {
    dragEnter() {
      this.dragzoneActive = true;
    },
    dragLeave() {
      this.dragzoneActive = false;
    },
    choose(type) {
      dialog.showOpenDialog(browserWindow, {
        title: `Import ${type}`,
        properties: ['multiSelections', type==='folders'?'openDirectory':'openFile'],
        filters: [
          {name: 'CSV Files', extensions: ['csv']},
        ]
      },
      paths => this.filesDropped(paths, false));
    },
    filesDropped(e, dropped = true) {
      this.loading = 'Scanning files';

      const importPaths = (dropped ? [...e.dataTransfer.files].map(file => file.path) : e || [])
        .map(file => file.replace(/[\\|/]+/g, '/'));

      // console.log(importPaths);
      if (!importPaths.length) {
        this.loading = '';
        return;
      }

      this.basePath = importPaths[0].split('/').slice(0, -1).join('/');
      
      this.runAdditionalFunction('getFileStructure', importPaths).then((res) => {
        console.log(res);
        this.importStructure = createImportStructure(this.basePath, res.$data);
        console.log(this.importStructure);
        this.loading = '';
      })
      .catch((err) => {
        console.error(err);
        this.importValid = false;
        this.importError = err;
      })
    },
    runDataImport() {
      this.loading = 'Importing data';
      const importData = {
        blockId: `b${ this.blockId }`,
        data: createRImportData(this.basePath, this.importStructure),
      };
      console.log(importData);

      this.manuallySetBlockValidity(false);
      
      this.runAdditionalFunction('importData', importData)
      .then(res => {
        this.manuallySetBlockValidity(true);
        this.$root.$emit('closeFullscreenPortalView');
      })
      .catch(err => {
        console.error(err);
        this.importValid = false;
        this.importError = err;
      })
    },
  },
  mounted() {
  },
}
</script>

<style lang="stylus">
$blockColour = #45444B

.importview-container {
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  justify-content: space-between
  align-items: center
  padding: 15px
  box-sizing: border-box
}

.importview-header
  display: flex
  align-items: center
  font-size: 17px
  margin: -5px 0 10px 0
  z-index: 1

.importview
  // overflow: auto
  background: $blockColour
  border-radius: 3px
  display: flex
  margin: auto
  max-width: 100%
  z-index: 1

.importview-loading
  height: 420px
  width: 650px
  margin: 20px
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  &:before
    content: ''
    width: 30px
    height: 30px
    margin: 10px
    border: 5px solid alpha(white, 0.8)
    border-radius: 50%
    border-top-color: transparent
    animation: spin 0.8s infinite linear

  @keyframes spin {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
  }

.importview-fileselect
  span
    font-weight: 500
    padding: 4px 8px
    border-radius: 3px
    background: alpha(black, 0.15)
    cursor: pointer

    &:hover
      background: alpha(black, 0.3)

  .importview-dropzone-active &
    opacity: 0.6

.importview-dropzone
  position: relative
  height: 420px
  width: 650px
  margin: 20px
  display: flex
  justify-content: center
  align-items: center

  &:after
    content: ''
    position: absolute
    top: 0px
    left: 0px
    right: 0px
    bottom: 0px
    border: 2px dashed alpha(white, 0.7)
    border-radius: 8px
    opacity: 0.6
    pointer-events: none
    transition: top 0.2s, left 0.2s, right 0.2s, bottom 0.2s, opacity 0.2s

  &.importview-dropzone-active:after
    top: 10px
    left: 10px
    right: 10px
    bottom: 10px
    opacity: 1

.importview-dropzone-inner
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-size: 17px
  line-height: 200%
  transition: transform 0.2s

  .importview-filedrop
    opacity: 0.6

  .importview-dropzone-active &
    transform: scale(1.1)

    .importview-filedrop
      opacity: 1

  i
    opacity: 0.4

  svg
    fill: none
    width: 80px
    height: 80px
    stroke: white
    stroke-width: 2px
    stroke-linecap: round
    stroke-linejoin: round
</style>
