<template>
  <div class="import-block" :class="{
    'import-block-flat': structure.flat,
    'import-block-showinner': showInnerData,
    'import-block-deselected': !isSelected,
  }">
    <div class="import-block-header" v-if="!isInner">
      {{ structure.paths.length | pluralise(structure.folder ? 'folder' : 'file') }}
    </div>
    <div class="import-block-main">

      <div class="import-block-selector">
      <template v-if="!isInner">
        <input v-if="structure.flat" type="checkbox" v-model="selectedBlock" :value="structure">
        <input v-else type="radio" v-model="selectedBlock" :value="structure">
      </template>
      </div>
      
      <div class="import-block-column" v-for="(colName, i) in structure.colNames" :key="i">
        <textinput v-model="structure.colNames[i]" :invalid="(isSelected && !isColNameValid(structure.colNames[i])) ? ' ' : ''" hint="Column Name" />
        <ui-select v-model="structure.classes[i]" :options="classOptions" />
      </div>
    </div>
    <div class="import-block-sample">
      <div class="import-block-sample-row" v-for="(row, index) in sampleData.slice(0,2)">
        <span class="import-block-sample-index">{{ index + 1 }}</span>
        <span v-for="item in row">{{ item }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { formatData, isColNameValid } from './methods.js'

export default {
  data() {
    let sampleData;
    if (this.structure.sample) sampleData = this.structure.sample;
    else {
      const sample = this.structure.paths.map(path => {
        const pathEnd = path.split('/').pop();
        return this.structure.folder ? pathEnd : pathEnd.split('.').slice(0, -1).join('.');
      });
      const formatted = formatData(sample);
      sampleData = formatted.data.map(item => [item]);
      this.structure.classes = [formatted.class];
    }

    return {
      classOptions: [
        {value: 'character'},
        {value: 'numeric'},
        // {value: 'integer'},
      ],
      sampleData,
    }
  },
  props: {
    isInner: Boolean,
    structure: Object,
    value: [Object, Array],
  },
  computed: {
    selectedBlock: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit('input', value);
      }
    },
    isSelected() {
      if (this.structure.inner) return true;
      return Array.isArray(this.value) ? this.value.includes(this.structure) : (this.value === this.structure);
    },
    showInnerData() {
      return (this.structure.innerStructure && this.isSelected);
    },
  },
  methods: {
    isColNameValid,
  },
  filters: {
    pluralise(value, type) {
      return `${value} ${type}${ value > 1 ? 's' : '' }`;
    }
  }
}
</script>

<style lang="stylus">
.import-block
  position: relative
  background: #39383E
  border-radius: 3px
  display: flex
  flex-direction: column
  margin: 5px
  box-shadow: 0px 1px 1px rgba(0,0,0,0.3)
  transition: background-color 0.2s

  input[type="radio"]:checked
    &:before, &:after
      background-color: #2196F3
  
  input[type="checkbox"]
    &:after
      background-color: #2196F3

.import-block-deselected
  background: alpha(#39383E, 0.3)
  box-shadow: none

.import-block-showinner
  &:before
    content: ''
    position: absolute
    width: 30px
    height: 21px
    left: 12px
    top: 100%
    background: linear-gradient(#313035, #39383E)

  &:after
    content: ''
    position: absolute
    width: 30px
    height: 21px
    left: 12px
    top: 100%
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 21'><path d='M 0 0 L 0 7 L 15 14 L 30 7 L 30 0 z' fill='#3F3E44'/></svg>")

.import-block-flat
  margin-left: 45px

  &:before
    content: 'FLAT FILES'
    position: absolute
    top: 0
    bottom: 0
    left: -40px
    width: 30px
    font-size: 11px
    font-style: italic
    border-left: 1px solid alpha(white, 0.2)
    padding-left: 6px
    padding-top: 2px
    color: alpha(white, 0.6)

  & + .import-block-flat
    margin-left: 5px

    &:before
      content: none

.import-block-header
  background: #313035
  height: 23px
  line-height: 23px
  font-size: 11px
  text-transform: uppercase
  text-align: center
  font-style: italic
  border-radius: 3px 3px 0 0
  transition: opacity 0.2s

  .import-block-deselected &
    opacity: 0.3

.import-block-main
  display: flex
  
.import-block-selector
  display: flex
  align-items: center
  justify-content: center
  width: 40px
  margin-right: -5px

.import-block-column
  display: flex
  flex-direction: column
  width: 130px
  transition: opacity 0.2s

  .import-block-deselected &
    opacity: 0.4
    pointer-events: none

  .select
    &, & .select-value
      font-size: 11px
      font-weight: 300
      font-style: italic
      text-transform: uppercase
    
    margin-top: 0
    width: auto

    .select-value
      padding: 5px 9px
      height: auto
      border-bottom: none
      opacity: 0.8
    
    .select-dropdown
      top: -2px

    .select-dropdown-arrow
      bottom: 8px
      right: 8px
  
  .textinput
    &, &.textinput-invalid
      margin-bottom: 2px

    input
      font-weight: 500
      padding: 4px 9px
      width: 112px
      box-sizing: border-box

.import-block-sample
  position: relative
  background: #3F3E44
  flex-grow: 1
  border-radius: 0 0 3px 3px
  font-weight: 300
  font-size: 14px
  overflow: hidden
  transition: opacity 0.2s

  .import-block-deselected &
    opacity: 0.3

  &:after
    content: ''
    position: absolute
    height: 24px
    bottom: 0
    left: 0
    right: 0
    background: linear-gradient(transparent, #3F3E44 90%, #3F3E44)

.import-block-sample-row
  height: 24px
  line-height: 24px
  border-bottom: 1px solid alpha(white, 0.15)
  opacity: 0.65
  display: flex

  span
    width: 105px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    padding: 0 10px 0 15px

  .import-block-sample-index
    width: 35px
    padding: 0
    text-align: center
    font-weight: 400
    font-style: italic
</style>
