<template>
  <div>
    <ui-button class="import-button" theme="primary" @click="importData">Import Data</ui-button>

    <portal to="dataImport">
      <importView
        :runAdditionalFunction="runAdditionalFunction"
        :manuallySetBlockValidity="manuallySetBlockValidity"
        :blockId="blockId"></importView>
    </portal>
  </div>
</template>

<script>
import importView from './importView.vue'

export default {
  components: { importView },
  methods: {
    importData() {
      this.$root.$emit('openFullscreenPortalView', 'dataImport', true);
    },
  },
  props: {
    blockId: String,
    runAdditionalFunction: Function,
    manuallySetBlockValidity: Function,
  },
  mounted() {
  },
}
</script>

<style lang="stylus" scoped>
  .import-button {
    border: 1px solid #2196f3
    padding: 3px 7px
    margin: 5px
    white-space: nowrap
  }
</style>
