<template>
  <div class="startup">
    <img class="startup-logo" src="./logo.png"/>
    <div class="startup-info">
      <svg class="startup-name" viewBox="0 0 366 60">
        <use xlink:href="#logotype" />
      </svg>
      <div class="startup-version">
        {{ appVersion }}
      </div> 
    </div>
    <div class="startup-message">
      <div>{{ message }} <span class="startup-ellipsis"><span>.</span></span></div>
      <div v-if="details" class="startup-message-details">{{ details }}</div>
    </div>
    <progress-bar class="startup-progress" :value="progress" :query="isQuerying" :indeterminate="isIndeterminate"></progress-bar>
  </div>
</template>

<script>
  import progressBar from '../ui-components/progressbar.vue';

  import './logotype.svg'

  const {ipcRenderer} = require('electron');

  export default {
    data() {
      return {
        appVersion: require('electron').remote.app.getVersion(),
        isQuerying: false,
        isIndeterminate: false,
        progress: 0,
        message: 'Starting up',
        details: ''
      }
    },
    components: { progressBar },
    methods: {
      updateProgress(event, {progress, message, details, querying, indeterminate}) {
        this.message = message || this.message;
        if (typeof progress === 'number') {
          this.progress = progress;
          this.isQuerying = false;
          this.isIndeterminate = false;
        }
        if (typeof details === 'string') this.details = details;

        if (typeof querying === 'boolean') {
          this.isQuerying = querying
          if (querying) this.isIndeterminate = true;
        }
        if (typeof indeterminate === 'boolean') this.isIndeterminate = indeterminate;
      }
    },
    created() {
      ipcRenderer.on('updateProgress', this.updateProgress);
      ipcRenderer.send('startupScreenReady');
    }
  }
</script>

<style lang="stylus">
  @import '../stylus/imports'

  html, body {
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif !important
    color: $primaryLightTextColour
    user-select: none
    margin: 0
    padding: 0
    overflow: hidden
    font-size: 16px
    background: transparent
  }

  .startup {
    position: absolute
    top: 10px
    left: 10px
    bottom: 10px
    right: 10px
    background-color: #262626
    pointer-events: none
    border-radius: 4px
    overflow: hidden
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.3)
  }

  .startup-logo {
    height: 150px
    position: absolute
    top: -40px
    left: -35px
  }

  .startup-info {
    position: absolute
    left: 120px
    top: 0
    height: 110px
    right: 0
    padding: 10px 25px
    box-sizing: border-box
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end
  }

  .startup-name {
    margin: 10px 0
  }

  .startup-message {
    position: absolute
    bottom: 5px
    height: 45px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    opacity: 0.9
  }

  .startup-message-details {
    font-size: 14px
    opacity: 0.6
    margin-bottom: 3px
  }

  .startup-progress {
    position: absolute !important
    bottom: 0
    height: 5px !important
  }

  .startup-version {
    opacity: 0.4
  }

  .startup-ellipsis {

    &:before, &:after {
      content: '.'
      padding: 0 1px
    }

    span, &:before, &:after {
      animation-name: blink
      animation-duration: 1.4s
      animation-iteration-count: infinite
      animation-fill-mode: both
    }

    span {
      animation-delay: .2s
    }

    &:after {
      animation-delay: .4s
    }
  }

  @keyframes blink {
    0% {
      opacity: 0
    }
    20% {
      opacity: 1
    }
    100% {
      opacity: 0
    }
  }
</style>
