<template>
  <div class="plotview-expanded" :class="{'plotview-notransition': noTransition, 'plotview-leaving': leaving}" @click="close">

    <plot-item v-if="!lonely" ref="plotItems" v-for="(plot, index) in plotList" :key="index"
      :class = "{'plotview-hide': !!expandedPlot, 'plotview-hide-notransition': expandedIndex === index}"
      :titleList = "plot.titleList"
      :titleNames = "titleNames"
      :plotSrc = "plot.thumbSrc"
      :loading = "plot.loading"
      :transform = "transformList[index]"
      @plot-loaded = "plot.loading = false"
      @plot-clicked = "togglePlot(index)"
    ></plot-item>

    <transition
      @enter="fullplotEnter"
      @leave="fullplotLeave"
    >
      <div v-if="expandedPlot" class="plotview-full">
        <plot-item ref="fullPlot"
          :titleList = "expandedPlot.titleList"
          :titleNames = "titleNames"
          :plotSrc = "expandedPlot.fullSrc || expandedPlot.thumbSrc"
          :loading = "expandedPlot.loading"
          :transform = "transformFull"
          @plot-loaded = "(expandedPlot.fullSrc) ? expandedPlot.loading = false : null"
        ></plot-item>
      </div>
    </transition>

  </div>
</template>

<script>
  import plotItem from './plotItem.vue'

  function arrayify(input) {
    if (typeof input === 'string') return [input]
    return input
  }

  export default {
    components: { plotItem },
    data() {
      return {
        transformList: [],
        transformFull: '',
        transformFullLeaveIndex: null,
        noTransition: true,
        leaving: false,
        expandedIndex: null,
        plotList: this.cache.plotList,
        titleNames: this.cache.titleNames,
      }
    },
    props: {
      parentEl: HTMLDivElement,
      blockTempDir: String,
      cache: Object,
      runAdditionalFunction: Function,
    },
    computed: {
      expandedPlot() {
        return this.plotList[this.expandedIndex]
      },
      lonely() {
        return this.plotList.length === 1
      }
    },
    methods: {
      calcTransform(plotIndex, from, to) {
        from = from || this.parentEl
        to = to || this.$refs.plotItems[plotIndex].$refs.plot

        let fromRect = from.getBoundingClientRect()
        let toRect = to.getBoundingClientRect()

        let scale = fromRect.height / toRect.height

        let transX = fromRect.left - toRect.left
        let transY = fromRect.top - toRect.top

        return `translate(${transX}px, ${transY}px) scale(${scale})`;
      },
      getTitles() {
        if (!this.titleNames.length) {
          console.log('getting titles');
          this.runAdditionalFunction('getPlotTitles')
          .then((res) => {
            console.log(res);
            this.titleNames.push(...arrayify(res.$data.titleNames))
            for (let [index, titles] of res.$data.titleList.$data.entries()) {
              this.plotList[index].titleList = arrayify(titles)
            }
            this.updateThumbnails();
          })
          .catch((err) => {
            console.log(err);
          })
        }
        else {
          this.updateThumbnails();
        }
      },
      updateThumbnails() {
        for (let [index, plot] of this.plotList.entries()) {
          if (!plot.thumbSrc) {
            index += 1;
            let path = `${this.blockTempDir}/plot${index}.png`
            plot.loading = true
            this.runAdditionalFunction('drawPlotSvg', index, '//'+path, false)
            .then(() => {
              plot.thumbSrc = `${path}?${Date.now()}`
            })
          }
        }
      },
      togglePlot(plotIndex) {
        if (typeof plotIndex !== 'undefined') {
          this.expandedIndex = plotIndex
        }
        else {
          this.expandedIndex = null
        }
      },
      fullplotLeave(el, done) {
        let fromPlot = (this.lonely) ? null : this.$refs.plotItems[this.transformFullLeaveIndex].$refs.plot
        let plot = this.$refs.fullPlot.$refs.plot

        plot.style.transform = this.calcTransform(null, fromPlot, plot)

        let transitionEnd = (event) => {
          plot.removeEventListener('transitionend', transitionEnd)
          done()
        }
        plot.addEventListener('transitionend', transitionEnd)
      },
      fullplotEnter(el) {
        let index = this.expandedIndex
        this.transformFullLeaveIndex = index

        let fromPlot = (this.lonely) ? null : this.$refs.plotItems[index].$refs.plot
        let plot = this.$refs.fullPlot.$refs.plot

        this.transformFull = this.calcTransform(null, fromPlot, plot)

        this.noTransition = true

        requestAnimationFrame(() => {
          this.noTransition = false
          this.transformFull = ''
        })
      },
      close() {
        if (this.expandedPlot) {
          this.expandedPlot.loading = false
          this.togglePlot()

          if (!this.lonely) return;
        }
        this.leaving = true
        this.transformList = (this.lonely) ? [] : this.plotList.map((plot, index) => {
          return this.calcTransform(index);
        })
        this.$nextTick(() => {
          this.$emit('close')
        })
      }
    },
    watch: {
      expandedIndex(plotIndex) {
        let plot = this.expandedPlot
        if (plot && !plot.fullSrc) {
          let index = plotIndex + 1
          let path = `${this.blockTempDir}/plot${index}full.svg`
          plot.loading = true
          this.runAdditionalFunction('drawPlotSvg', index, '//'+path, true)
          .then(() => {
            plot.fullSrc = `${path}?${Date.now()}`
          })
        }
      }
    },
    mounted() {
      if (!this.lonely) {
        this.transformList = this.plotList.map((plot, index) => {
          return this.calcTransform(index);
        })

        requestAnimationFrame(() => {
          this.noTransition = false
          this.transformList = []
        })
      }
      else {
        this.expandedIndex = 0
      }

      this.getTitles()
    }
  }
</script>

<style lang="stylus">
  $imgAspectWidth = 3
  $imgAspectHeight = 2
  $marginVertical = 120px
  $marginHorizontal = 140px

  .plotview-expanded {
    position: absolute
    top: 0px
    left: 0px
    right: 0px
    bottom: 0px
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    align-content: flex-start
    overflow-y: auto
  }

  .plotview-hide {
    opacity: 0
    //transform: scale(0.8)
    pointer-events: none

    &.plotview-hide-notransition {
      //transform: none
      transition: none
    }
  }

  .plotview-full {
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    align-items: center
    justify-content: center
    pointer-events: none

    .plotview-item {
      width: auto
      height: auto
    }

    .plotview-item-plot {
      width: 'calc(100vw - %s)' % $marginHorizontal
      height: 'calc((100vw - %s) * %s)' % ($marginHorizontal $imgAspectHeight/$imgAspectWidth)
      max-height: 'calc(100vh - %s)' % $marginVertical
      max-width: 'calc((100vh - %s) * %s)' % ($marginVertical $imgAspectWidth/$imgAspectHeight)
    }

    .plotview-item-plot-loading img {
      filter: blur(2px)
    }
  }
</style>
