<template>
  <div class="plotview" :class="{'plotview-hide': hide}">
    <div class="plotview-noplot">No Plot</div>

    <img :src="plotList[0].thumbSrc" @load="plotList[0].loading = false">

    <div class="plotview-loading" v-if="plotList[0].loading"></div>

    <div class="plotview-expandview" v-if="plotList[0].thumbSrc && !plotList[0].loading" @click="openFullscreen">
      <svg v-if="plotList.length === 1" viewBox="0 0 14 14">
        <path d="M 1 9 l 0 4 l 4 0 m -4 0 l 5 -5 M 9 1 l 4 0 l 0 4 m 0 -4 l -5 5"/>
      </svg>
      <span v-else>+{{ plotList.length - 1 }}</span>
    </div>
  </div>
</template>

<script>
  import expandedView from './expandedView.vue'

  function createPlotList(len) {
    return [...Array(len)].map(() => {
      return {
        thumbSrc: '',
        fullSrc: '',
        loading: false,
        titleList: []
      }
    })
  }

  export default {
    data() {
      return {
        hide: false,
        plotList: createPlotList(this.persistState.plotCount || 1),
        plotTitleNames: []
      }
    },
    props: {
      blockTempDir: String,
      runAdditionalFunction: Function,
      connectedInputs: Object,
      persistState: Object
    },
    computed: {
      inputsConnected() {
        return Object.keys(this.connectedInputs).length > 0
      }
    },
    methods: {
      updatePlot() {
        this.plotList = [this.plotList[0]]
        this.plotTitleNames = []

        this.plotList[0].fullSrc = ''
        this.plotList[0].loading = true

        this.runAdditionalFunction('drawPlotSvg', 1, `//${this.blockTempDir}/plot1.png`, false).then((plotCount) => {
          if (plotCount > 1) {
            this.plotList = [this.plotList[0], ...createPlotList(plotCount-1)]
          }

          this.plotList[0].thumbSrc = `${this.blockTempDir}/plot1.png?${Date.now()}`;

          this.$emit('persist-state', 'plotCount', this.plotList.length)
        })
        .catch((err) => {
          console.log('err: ', err);
        })
      },
      openFullscreen() {
        this.$emit('openFullscreenView', expandedView, {
          parentEl: this.$el,
          blockTempDir: this.blockTempDir,
          cache: {
            plotList: this.plotList,
            titleNames: this.plotTitleNames,
          },
          runAdditionalFunction: this.runAdditionalFunction
        })
        this.hide = true
      }
    },
    watch: {
      inputsConnected(isConnected) {
        if (!isConnected) {
          this.plotList = createPlotList(1)
          this.$emit('persist-state', 'plotCount', 0)
        }
      }
    },
    created() {
      this.$emit('options-valid');
      this.$on('blockUpdated', this.updatePlot);
      this.$on('fullscreenViewClosed', () => {
        this.hide = false
      })
      if (this.persistState.plotCount) {
        this.plotList[0].thumbSrc = `${this.blockTempDir}/plot1.png?${Date.now()}`
      }
    }
  }
</script>

<style lang="stylus">
  .plotview {
    position: relative
    height: 220px
    width: 330px
    border-radius: 3px
    background: #fff
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    color: black
    overflow: hidden

    &.plotview-hide {
      opacity: 0
    }

    .plotview-noplot {
      position: absolute
      text-align: center
      line-height: 220px
      top: 0
      width: 100%
      font-weight: bold
      color: #bbb
      font-size: 16px
      text-transform: uppercase
      z-index: 0
    }

    .plotview-loading {
      position: absolute
      width: 19px
      height: 19px
      border: 3px solid rgba(0,0,0,0.4)
      border-radius: 50%
      border-top-color: transparent
      left: 50%
      top: 50%
      margin-left: -11px
      margin-top: -11px
      z-index: 2
      animation: spin 1s infinite linear
    }

    @keyframes spin {
      from {
        transform: rotate(0deg)
      }
      to {
        transform: rotate(360deg)
      }
    }

    img {
      position: absolute
      top: 0
      left: 0
      height: 220px
      width: 330px
      z-index: 1
    }

    .plotview-expandview {
      position: absolute
      bottom: 6px
      right: 6px
      height: 24px
      background: #000
      opacity: 0.3
      border-radius: 2px
      padding: 5px
      z-index: 2
      cursor: pointer
      color: #fff

      span {
        position: relative
        padding: 0 4px
        border: 1px solid #fff
        border-radius: 2px
        margin-bottom: 2px
        margin-right: 2px
        line-height: 21px
        font-weight: 500

        &:after {
          content: ''
          position: absolute
          left: 1px
          top: 1px
          bottom: -4px
          right: -4px
          border: 1px solid #fff
          border-top: none
          border-left: none
          border-radius: 2px
        }
      }

      &:hover {
        opacity: 0.6
      }

      svg {
        width: 24px
        height: 24px
        fill: none
        stroke: #fff
        stroke-width: 1px
      }
    }
  }
</style>
