<template>
  <div class="plotview-item">
    <transition name="plotview-title" appear>
      <div class="plotview-item-title">
        <template v-for="(title, titleIndex) in titleList">
          <div class="plotview-item-title-segment">
            <div class="plotview-item-title-name">{{titleNames[titleIndex]}}</div>
            <div>{{title}}</div>
          </div>
          <svg v-if="titleIndex !== titleList.length-1" width="8" height="30" viewBox="0 0 8 30">
            <path d="M 0 0 L 7 15 L 0 30" />
          </svg>
        </template>
      </div>
    </transition>

    <div ref="plot" class="plotview-item-plot" :class="{'plotview-item-plot-loading': loading}" :style="{
      transform: transform
    }" @click.stop="$emit('plot-clicked')">
      <img :src="plotSrc" @load="$emit('plot-loaded')"></img>
    </div>
  </div>
</template>

<script>
  export default {
    //functional: true,
    props: {
      titleList: Array,
      titleNames: Array,
      plotSrc: String,
      loading: Boolean,
      transform: String
    }
  }
</script>

<style lang="stylus">
  .plotview-item {
    width: 350px
    height: 280px
    padding: 10px 0

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    transition-property: opacity, transform
    transition-duration: 0.3s
  }

  .plotview-item-title {
    display: flex
    align-items: center
    align-self: flex-start

    font-size: 16px
    padding: 6px 7px
    margin-left: 12px
    overflow: hidden
    height: 40px

    transition-property: opacity, transform
    transition-duration: 0.2s
    transition-delay: 0.2s

    .plotview-item-title-segment {
      display: flex
      flex-direction: column

      .plotview-item-title-name {
        text-transform: uppercase
        opacity: 0.7
        font-size: 11px
      }
    }

    svg {
      stroke: rgba(255,255,255,0.8)
      stroke-width: 1px
      fill: none
      margin: 4px
    }

    .plotview-leaving & {
      transition: none
      opacity: 0
    }
  }

  .plotview-title-enter {
    opacity: 0 !important
    transform: translateY(30%)
  }

  .plotview-item-plot {
    position: relative
    border-radius: 3px
    background: #fff
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    width: 330px
    height: 220px
    overflow: hidden

    transform-origin: 0px 0px
    transition: transform 0.2s ease-out

    cursor: pointer

    img {
      width: 100%
      height: 100%
    }

    &:hover:after {
      position: absolute
      content: ''
      width: 36px
      height: 36px
      opacity: 0.5
      border-radius: 3px
      background-color: #000
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'><path d='M 1 9 l 0 4 l 4 0 m -4 0 l 5 -5 M 9 1 l 4 0 l 0 4 m 0 -4 l -5 5' stroke='#fff' stroke-width='1'/></svg>")
      background-size: 28px
      background-repeat: no-repeat
      background-position: center
      left: 50%
      top: 50%
      margin-left: -(@width / 2)
      margin-top: -(@height / 2)
    }

    &.plotview-item-plot-loading:after {
      position: absolute
      content: ''
      background: none
      opacity: 0.4
      width: 19px
      height: 19px
      border: 3px solid #000
      border-radius: 50%
      border-top-color: transparent
      left: 50%
      top: 50%
      margin-left: -11px
      margin-top: -11px
      z-index: 2
      animation: spin 1s infinite linear
    }

    @keyframes spin {
      from {
        transform: rotate(0deg)
      }
      to {
        transform: rotate(360deg)
      }
    }

    .plotview-notransition & {
      transition: none
    }
    .plotview-leaving & {
      transition-timing-function: ease-in
    }
  }
</style>
