<template>
  <label class="boolean-input">
    <input type="checkbox" v-model="boolVal" />
    {{ label }}
  </label>
</template>

<script>
  export default {
    props: {
      value: Boolean,
      label: String,
    },
    computed: {
      boolVal: {
        get() {
          return this.value
        },
        set(val) {
          this.$emit('input', val)
          this.$emit('blur')
        }
      }
    }
  }
</script>

<style lang="stylus">
  .boolean-input {
    display: flex

    input {
      margin-right: 4px
    }
  }
</style>
