<template>
  <div class="ui-button" :class="[textColour+'-text', buttonColour+'-button', {raised: raised, disabled: disabled, icon: icon}]" @click="$emit('click', $event)" @mouseup="click" @keyup.enter="enter" :tabindex="(disabled) ? -1 : 0">

    <icon :theme="textColour" v-if="leftIcon && !icon" :name="leftIcon" class="left-icon"></icon>

		<slot v-if="!icon"></slot>
    <icon :theme="textColour" v-else :name="icon"></icon>

    <icon :theme="textColour" v-if="rightIcon && !icon" :name="rightIcon" class="right-icon"></icon>

  </div>
</template>

<script>
  import icon from './icon.vue';
  import theme from './mixin/theme.js'

  export default {
    mixins: [theme],
    components: { icon },
    props: {
      //class: String,
      raised: Boolean,
      disabled: Boolean,
      icon: String,
      leftIcon: String,
      rightIcon: String
    },
    computed: {
      textColour() {
        if (!this.raised) return this.theme || 'light'
        return (this.buttonColour === 'light') ? 'dark' : 'light'
      },
      buttonColour() {
        return this.theme || 'primary'
      }
    },
    methods: {
      click: function(e) {
        this.$el.blur();
      },
      enter: function(e) {
        this.$el.click();
      }
    }
  }
</script>

<style lang="stylus" scoped>
  @import '../stylus/imports'

  .ui-button {
    display: inline-flex
    align-items: center
    justify-content: center
    position: relative
    //font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif
    color: $primaryTextColour
    font-size: 14px
    font-weight: 400
    text-transform: uppercase
    outline: none
    border: none
    margin: 8px
    padding: 8px 12px
    border-radius: 2px
    cursor: pointer
    background: none
    overflow: hidden
    transition: background 0.2s ease-out, box-shadow 0.2s ease-out

    &.icon {
      padding: 10px
      border-radius: 50%
    }

    .left-icon {
      margin-right: 6px
      margin-left: -3px
    }

    .right-icon {
      margin-left: 6px
      margin-right: -3px
    }

    &.light-text {
      color: $primaryLightTextColour
    }
    &.primary-text {
      color: $primaryColour
    }
    &.accent-text {
      color: $accentColour
	  }

    &:hover, &:focus {
      background-color: rgba(0,0,0,0.08)

      &.dark-button {
        background-color: rgba(255,255,255,0.08)
      }
    }
    &:active {
      background-color: rgba(0,0,0,0.16)

      &.dark-button {
        background-color: rgba(255,255,255,0.16)
      }
    }
    &.disabled {
      color: $disabledTextColour
      background: none
      cursor: default
      pointer-events: none

      &.light-button {
        color: $disabledLightTextColour
      }
    }


    // raised buttons

    &.raised {
      shadow(1)

      &:active {
        shadow(2)
      }

      &.primary-button {
        background-color: $primaryColour

        &:hover, &:focus {
          background-color: palette($primaryColourName, '600')
        }
        &:active {
          background-color: $darkPrimaryColour
        }
      }

      &.accent-button {
        color: $primaryLightTextColour
        background-color: $accentColour

        &:hover, &:focus {
          background-color: palette($accentColourName, '600')
        }
        &:active {
          background-color: palette($accentColourName, '700')
        }
      }

      &.dark-button {
        background-color: $mainDarkBackground
      }
      &.light-button {
        background-color: $mainBackground
      }

      &.disabled {
        &, &:hover, &:focus, &:active {
          box-shadow: none
          background: rgba(0,0,0,0.12)
          color: $disabledTextColour

          &.light-button {
            background: rgba(255,255,255,0.12)
            color: $disabledLightTextColour
          }
        }
      }
    }
  }
</style>
