<template>

  <div class="ui-card" :class="[backgroundColour]">
    <slot></slot>
  </div>

</template>

<script>
  import theme from './mixin/theme.js'

  export default {
    mixins: [theme],
    props: {
      //class: String
    },
    computed: {
      backgroundColour() {
        return (this.theme) ? this.theme : 'dark'
      }
    }
  }
</script>

<style lang="stylus" scoped>
  @import '../stylus/imports'

  .ui-card {
    background-color: $cardBackground
    padding: 16px
    margin: 8px
    border-radius: 2px
    shadow(1)

    &.dark {
      background-color: $cardDarkBackground
    }
    &.primary {
      background-color: $primaryColour
    }
    &.accent {
      background-color: $accentColour
    }
  }
</style>
