<template>
<transition name="overlay">
  <div class="dialog-overlay" v-if="open" @click="closeDialog(false)">

    <card :theme="theme" class="dialog" @click.native.stop>

      <div v-if="title" class="title" :class="{'scroll-border': scrollBorderTop}">
        {{ title }}
      </div>

      <div ref="content" class="content" @scroll="setScrollBorder">
        <slot></slot>
      </div>

      <div v-if="actions" class="actions" :class="{'scroll-border': scrollBorderBottom}">
        <ui-button class="dialog-button" :theme="['primary', 'accent'].includes(theme) ? 'light' : 'primary'" v-for="(action, index) in actionList" :key="index" :disabled="!!action.disabled" @click="buttonClick(index)">{{ action.button }}</ui-button>
      </div>

    </card>

  </div>
</transition>
</template>

<script>
  import card from './card.vue';
  import uiButton from './button.vue';

  import theme from './mixin/theme.js'

  export default {
    mixins: [theme],
    components: { card, uiButton },
    data() {
      return {
        scrollBorderTop: false,
        scrollBorderBottom: false,
        open: false
      }
    },
    props: {
      title: String,
      actions: [Array, Object, String],
      modal: Boolean
    },
    computed: {
      actionList() {
        function convertAction(action) {
          return (typeof action === 'string') ? { button: action, action: null, disabled: false } : action;
        }

        if (!Array.isArray(this.actions)) {
          return [ convertAction(this.actions) ];
        }
        else {
          return this.actions.map(convertAction);
        }
      }
    },
    methods: {
      closeDialog(force) {
        if (force || !this.modal) {
          this.open = false
          this.$emit('close')
        }
      },
      buttonClick(index) {
        var action = this.actionList[index];
        this.closeDialog(true);
        if (action.action) {
          action.action();
        }
        this.$emit('clicked-'+action.button.toLowerCase());
      },
      setScrollBorder() {
        let el = this.$refs.content;
        let maxScroll = el.scrollHeight-el.clientHeight;

        if (maxScroll > 0) {
          this.scrollBorderTop = (el.scrollTop !== 0);
          this.scrollBorderBottom = (el.scrollTop !== maxScroll);
        }
        else {
          this.scrollBorderTop = false;
          this.scrollBorderBottom = false;
        }

      }
    },
    watch: {
      open(isOpen) {
        if (isOpen) {
          this.$nextTick(() => {
            this.setScrollBorder();
          });
        }
      }
    },
    created() {
      this.$on('open', () => {
        this.open = true;
      })
    }
  }
</script>

<style lang="stylus" scoped>
  @import '../stylus/imports'

  .dialog-overlay {
    position: fixed
    display: flex
    justify-content: center
    align-items: center
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: rgba(0,0,0,0.35)
    z-index: 50

    .dialog {
      display: flex
      flex-direction: column
      shadow(2)
      margin: 24px 40px
      padding: 0
      padding-top: 24px
      box-sizing: border-box
      max-height: calc(100% - 48px)

      &.dark, &.primary, &.accent {
        color: $primaryLightTextColour

        .content {
          color: $secondaryLightTextColour
        }

        .scroll-border {
          border-color: $lightDividerColour
        }
      }
    }

    .title {
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0;
      padding: 24px;
      padding-bottom: 19px
      padding-top: 0
      border-bottom: 1px solid transparent
      transition: border-bottom 0.3s
      cursor: default

      &.scroll-border {
        border-bottom: 1px solid $dividerColour
      }
    }

    .content {
      color: $secondaryTextColour
      padding: 0 24px
      padding-bottom: 24px
      font-size: 16px
      overflow-y: auto
      cursor: default
    }

    .actions {
      display: flex
      justify-content: flex-end
      flex-wrap: wrap
      padding: 7px 0 0 8px
      border-top: 1px solid transparent
      transition: border-top 0.3s

      &.scroll-border {
        border-top: 1px solid $dividerColour
      }

      .dialog-button {
        margin: 0 8px 8px 0
      }
    }
  }

  .overlay-enter-active, .overlay-leave-active {
    transition: opacity 0.2s ease-out

    .dialog {
      //transform: translateY(0px)
      transition: transform 0.2s ease-out
    }
  }
  .overlay-enter, .overlay-leave-active {
    opacity: 0

    .dialog {
      transform: translateY(-50px)
    }
  }
</style>
