<template>

  <svg :class="[(theme)?theme:'light', {'disabled' : parentDisabled}]">
    <use :xlink:href="'#'+name" />
  </svg>

</template>

<script>
  import theme from './mixin/theme.js'

  export default {
    mixins: [theme],
    props: {
      name: String
    },
    computed: {
      parentDisabled() {
        return (this.$parent) ? !!this.$parent.disabled : false;
      }
    }
  }

</script>

<style lang="stylus" scoped>
  @import '../stylus/imports'

  svg {
    width: 24px
    height: 24px

    &.light {
      fill: $lightIconColour
    }
    &.dark {
      fill: $iconColour
    }
    &.primary {
      fill: $primaryColour
    }
    &.accent {
      fill: $accentColour
    }

    &.disabled {
      &.light {
        fill: $disabledLightTextColour
      }
      &.dark {
        fill: $disabledTextColour
      }
    }
  }

</style>
