<template>
  <div class="multiselect" :class="{'multiselect-disabled': disabled, 'multiselect-invalid': invalid}" @click="openDropdown">
    <label class="multiselect-label" v-if="label" :class="{'multiselect-floated': selected.length || open}">{{ label }}</label>

    <div class="multiselect-value" :class="{'multiselect-haslabel': !!label}">
      {{ selectedLabels }}
    </div>

    <div v-if="disabled" class="multiselect-disabled-underline"></div>

    <svg class="multiselect-dropdown-arrow" viewBox="0 0 13 8">
      <path d="M 1,1 l 5.5 6 l 5.5 -6"></path>
    </svg>

    <div v-if="invalid" class="multiselect-invalid-message">{{ invalid }}</div>

    <transition name="select-dropdown">
      <div ref="dropdown" class="multiselect-dropdown" v-if="open" @click.stop>
        <div class="multiselect-dropdown-buttons">
          <span @click="selectAll">All</span>
          <span @click="selectNone">None</span>
        </div>
        <label class="multiselect-dropdown-option" v-for="option in options">
          <input type="checkbox" :value="option.value" v-model="selected" />
          {{ optionsList[option.value] }}
        </label>
      </div>
    </transition>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        open: false
      }
    },
    props: {
      value: Array,
      label: String,
      options: Array,
      disabled: Boolean,
      invalid: String,
    },
    computed: {
      selected: {
        get() {
          return this.value
        },
        set(val) {
          this.$emit('input', val)
        }
      },
      optionsList() {
        let list = {};
        for (let option of this.options) {
          list[option.value] = option.label ? option.label : option.value
        }
        return list
      },
      selectedLabels() {
        return this.selected.map(item => this.optionsList[item]).join(', ')
      }
    },
    methods: {
      selectAll() {
        this.selected = this.options.map(option => option.value);
      },
      selectNone() {
        this.selected = [];
      },
      openDropdown() {
        if (this.options.length) {
          this.open = true
          window.document.addEventListener('mousedown', this.closeDropdown, true)
        }
      },
      closeDropdown(e) {
        if (!e.path.includes(this.$refs.dropdown)) {
          this.open = false
          window.document.removeEventListener('mousedown', this.closeDropdown, true)
          this.$emit('blur')
        }
      }
    },
    watch: {
      optionsList(optionsList) {
        let newList = [],
            selected = this.selected
        for (let value of selected) {
          if (optionsList[value]) newList.push(value)
        }
        this.selected = newList
      }
    }
  }
</script>

<style lang="stylus">
  @import '../stylus/imports'

  .multiselect {
    display: inline-block
    position: relative
    clear: both
    margin: 6px
    cursor: pointer
    width: 140px

    &:hover {
      .multiselect-dropdown-arrow {
        opacity: 1
      }
    }

    &.multiselect-invalid {
      margin-bottom: 25px

      .multiselect-value {
        border-bottom-color: $invalidColour
      }

      .multiselect-label {
        color: $invalidColour
      }
    }

    .multiselect-value {
      font-size: 14px
      color: $primaryLightTextColour
      padding: 6px 0px
      padding-top: 10px
      padding-right: 20px
      height: 19px
      border-bottom: 1px solid $lightDividerColour
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden

      &.multiselect-haslabel {
        padding-top: 18px
      }

      &.disabled {
        border-bottom: none
        color: $disabledTextColour

        & ~ .textinput-underline {
          transform: scaleX(1)
          height: 1px
          background: repeating-linear-gradient(to right, $disabledLightTextColour 0px, $disabledLightTextColour 1px, transparent 1px, transparent 4px)
        }
      }
    }

    .multiselect-label {
      position: absolute
      pointer-events: none
      color: $secondaryLightTextColour
      font-size: 14px
      top: 20px
      left: 0px
      white-space: nowrap

      transition: top 0.25s ease-out, font-size 0.25s ease-out, color 0.25s ease-out

      &.multiselect-floated {
        font-size: 12px
        top: 0px
      }
    }

    .multiselect-dropdown-arrow {
      position: absolute
      right: 4px
      bottom: 12px
      fill: none
      stroke: $secondaryLightTextColour
      stroke-width: 1.5px
      stroke-linejoin: round
      width: 13px
      height: 8px
      opacity: 0.7
    }

    .multiselect-dropdown {
      position: absolute
      top: 19px
      left: -1px
      background: lighten(#262626, 5%)
      shadow(2)
      border-radius: 3px
      display: flex
      flex-direction: column
      min-width: 100%
      max-height: 275px
      overflow-y: auto
      opacity: 0.98
      transition: transform 0.2s, opacity 0.2s
      transform-origin: 50% 15px
      z-index: 1
      cursor: default

      .multiselect-dropdown-buttons {
        padding: 5px 10px
        text-transform: uppercase
        font-size: 12px
        border-bottom: 1px solid alpha(white, 10%)
        display: flex
        justify-content: space-around
        flex-shrink: 0

        span {
          margin: 0 5px
          opacity: 0.8
          padding: 5px
          cursor: pointer

          &:hover {
            opacity: 1
          }
        }
      }

      .multiselect-dropdown-option {
        padding: 7px 10px
        display: flex
        align-items: center
        cursor: pointer
        flex-shrink: 0

        &:hover {
          background: rgba(255, 255, 255, 0.1)
        }

        input {
          margin-right: 6px
        }
      }
    }

    .multiselect-disabled-underline {
      position: absolute
      bottom: 0px
      height: 1px
      width: 100%
      background: repeating-linear-gradient(to right, white 0px, white 1px, transparent 1px, transparent 4px);
      opacity: 0.25
    }

    &.multiselect-disabled {
      pointer-events: none

      .multiselect-label, .multiselect-value {
        color: $disabledLightTextColour
        border-color: transparent
      }

      .multiselect-dropdown-arrow {
        opacity: 0.3
      }
    }

    .select-dropdown- {
      &enter, &leave-active {
        transform: scaleY(0)
        opacity: 0
      }
    }

    .multiselect-invalid-message {
      position: absolute
      top: calc(100% + 2px)
      color: $invalidColour
      font-size: 11px
      line-height: 11px
      max-height: 25px
      overflow: hidden
    }
  }
</style>
