<template>
<transition name="flatten">
  <div class="progressbar-container" :class="[colour]">
    <div class="progressbar-back" :style="{width: bufferWidth+'%'}"></div>
    <div v-if="bufferWidth !== 100 && !indeterminate" class="progressbar-buffer-outer" :style="{left: bufferWidth+'%'}">
      <div class="progressbar-buffer-inner"></div>
    </div>

    <div v-if="!indeterminate" class="progressbar-bar" :style="{width: value+'%'}"></div>
    <div v-if="indeterminate" class="progressbar-indeterminate" :class="{reverse: query}"></div>
  </div>
</transition>
</template>

<script>
  import theme from './mixin/theme.js';

  export default {
    mixins: [theme],
    props: {
      value: {
        type: Number,
        validator(val) {
          return (val >= 0 && val <= 100)
        },
        default: 0
      },
      indeterminate: Boolean,
      query: Boolean,
      buffer: {
        type: Number,
        validator(val) {
          return (val >= 0 && val <= 100)
        }
      },
      //class: String
    },
    computed: {
      colour() {
        return (this.theme) ? this.theme : 'primary';
      },
      bufferWidth() {
        if (this.indeterminate) return 100;
        return (typeof this.buffer !== 'undefined') ? this.buffer : 100;
      }
    }
  }
</script>

<style lang="stylus" scoped>
  @import '../stylus/imports'

  .progressbar-container {
    display: block
    position: relative
    height: 4px
    width: 100%
    overflow: hidden

    transform: scaleY(1)
    transition: transform 0.3s
  }

  .progressbar-bar, .progressbar-back, .progressbar-indeterminate {
    .primary > & {
      background-color: $primaryColour
    }
    .accent > & {
      background-color: $accentColour
    }
    .dark > & {
      background-color: $primaryTextColour
    }
    .light > & {
      background-color: $primaryLightTextColour
    }
  }

  dots(colour) {
    radial-gradient(circle closest-side at 50% 50%, colour 0%, colour 100%, transparent 100%)
  }

  .progressbar-buffer-outer {
    position: absolute
    right: 0
    top: 0
    height: 100%
    overflow: hidden

    transition: left 0.1s ease-out
  }

  .progressbar-buffer-inner {
    width: 100%
    height: 100%
    background-size: 9px 100%
    background-position: right
    opacity: 0.3

    animation: 0.2s linear 0s infinite buffer

    .progressbar-container.primary & {
      background-image: dots($primaryColour)
    }
    .progressbar-container.accent & {
      background-image: dots($accentColour)
    }
    .progressbar-container.dark & {
      background-image: dots($primaryTextColour)
    }
    .progressbar-container.light & {
      background-image: dots($primaryLightTextColour)
    }
  }

  @keyframes buffer {
    0% {
      transform: translateX(0px)
    }
    100% {
      transform: translateX(-9px)
    }
  }

  .progressbar-bar, .progressbar-back {
    position: absolute
    left: 0
    top: 0
    height: 100%

    transition: width 0.1s ease-out
  }

  .progressbar-back {
    opacity: 0.3
  }

  .progressbar-indeterminate {
    position: absolute
    height: 100%
    animation: 1s ease-in-out 0s infinite indeterminate

    &.reverse {
      animation-direction: reverse;
    }
  }

  @keyframes indeterminate {
    0% {
      right: 100%
      left: 0%
    }
    60% {
      left: 0%
    }
    90% {
      right: 0%
    }
    100% {
      left: 100%
      right: 0%
    }
  }

  .flatten-enter, .flatten-leave-active {
    transform: scaleY(0)
  }
</style>
