<template>
  <div class="select" :class="{'select-disabled': disabled, 'select-invalid': invalid}" @click="openDropdown">
    <label class="select-label" v-if="label" :class="{'select-floated': selected || open}">{{ label }}</label>

    <div class="select-value" :class="{'select-haslabel': !!label}">
      {{ selectedLabel }}
    </div>

    <div v-if="disabled" class="select-disabled-underline"></div>

    <svg class="select-dropdown-arrow" viewBox="0 0 13 8">
      <path d="M 1,1 l 5.5 6 l 5.5 -6"></path>
    </svg>

    <div v-if="invalid" class="select-invalid-message">{{ invalid }}</div>

    <transition name="select-dropdown">
      <div ref="dropdown" class="select-dropdown" v-if="open" @click.stop>
        <div class="select-dropdown-option" v-for="option in options" @click="optionClicked(option)">
          {{ optionsList[option.value] }}
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        open: false
      }
    },
    props: {
      value: String,
      label: String,
      options: Array,
      disabled: Boolean,
      invalid: String,
    },
    computed: {
      selected: {
        get() {
          return this.value
        },
        set(val) {
          this.$emit('input', val)
        }
      },
      optionsList() {
        let list = {};
        for (let option of this.options) {
          list[option.value] = option.label ? option.label : option.value
        }
        return list
      },
      selectedLabel() {
        return this.optionsList[this.selected]
      }
    },
    methods: {
      optionClicked(option) {
        this.selected = option.value
        this.closeDropdown()
      },
      openDropdown() {
        if (this.options.length) {
          this.open = true
          window.document.addEventListener('mousedown', this.closeDropdown, true)
        }
      },
      closeDropdown(e) {
        if (!e || !e.path.includes(this.$refs.dropdown)) {
          this.open = false
          window.document.removeEventListener('mousedown', this.closeDropdown, true)
          this.$emit('blur')
        }
      }
    },
    watch: {
      optionsList(optionsList) {
        if (!optionsList[this.selected]) this.selected = ''
      }
    }
  }
</script>

<style lang="stylus">
  @import '../stylus/imports'

  .select {
    display: inline-block
    position: relative
    clear: both
    margin: 6px
    cursor: pointer
    width: 140px

    &:hover {
      .select-dropdown-arrow {
        opacity: 1
      }
    }

    &.select-invalid {
      margin-bottom: 25px

      .select-value {
        border-bottom-color: $invalidColour
      }

      .select-label {
        color: $invalidColour
      }
    }

    .select-value {
      font-size: 14px
      color: $primaryLightTextColour
      padding: 6px 0px
      padding-top: 10px
      padding-right: 20px
      height: 19px
      border-bottom: 1px solid $lightDividerColour
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden

      &.select-haslabel {
        padding-top: 18px
      }

      &.disabled {
        border-bottom: none
        color: $disabledTextColour

        & ~ .textinput-underline {
          transform: scaleX(1)
          height: 1px
          background: repeating-linear-gradient(to right, $disabledLightTextColour 0px, $disabledLightTextColour 1px, transparent 1px, transparent 4px)
        }
      }
    }

    .select-label {
      position: absolute
      pointer-events: none
      color: $secondaryLightTextColour
      font-size: 14px
      top: 20px
      left: 0px
      white-space: nowrap

      transition: top 0.25s ease-out, font-size 0.25s ease-out, color 0.25s ease-out

      &.select-floated {
        font-size: 12px
        top: 0px
      }
    }

    .select-dropdown-arrow {
      position: absolute
      right: 4px
      bottom: 12px
      fill: none
      stroke: $secondaryLightTextColour
      stroke-width: 1.5px
      stroke-linejoin: round
      width: 13px
      height: 8px
      opacity: 0.7
    }

    .select-dropdown {
      position: absolute
      top: 19px
      left: -1px
      background: lighten(#262626, 5%)
      shadow(2)
      border-radius: 3px
      display: flex
      flex-direction: column
      min-width: 100%
      max-height: 280px
      overflow-y: auto
      opacity: 0.98
      transition: transform 0.2s, opacity 0.2s
      transform-origin: 50% 15px
      z-index: 1

      .select-dropdown-option {
        padding: 7px 10px
        display: flex
        align-items: center
        cursor: pointer
        flex-shrink: 0

        &:hover {
          background: rgba(255, 255, 255, 0.1)
        }
      }
    }

    .select-disabled-underline {
      position: absolute
      bottom: 0px
      height: 1px
      width: 100%
      background: repeating-linear-gradient(to right, white 0px, white 1px, transparent 1px, transparent 4px);
      opacity: 0.25
    }

    &.select-disabled {
      pointer-events: none

      .select-label, .select-value {
        color: $disabledLightTextColour
        border-color: transparent
      }

      .select-dropdown-arrow {
        opacity: 0.3
      }
    }

    .select-dropdown- {
      &enter, &leave-active {
        transform: scaleY(0)
        opacity: 0
      }
    }

    .select-invalid-message {
      position: absolute
      top: calc(100% + 2px)
      color: $invalidColour
      font-size: 11px
      line-height: 11px
      max-height: 25px
      overflow: hidden
    }
  }
</style>
