<template>
  <transition name="popup" @after-enter="afterEnter" @after-leave="afterLeave">
    <div class="snackbar" v-if="show">
      <div class="message">{{ current.message }}</div>

      <div v-if="current.action" class="action" @click="actionClicked">{{ current.action }}</div>
    </div>
  </transition>
</template>

<script>
  export default {
    data() {
      return {
        show: false,
        current: {},
        list: [],
        timeout: null
      }
    },
    methods: {
      add(message, autoHide = true, action) {
        if (!autoHide && !action) action = {action: 'OK'}
        this.list.push({
          message: message,
          autoHide: !!autoHide,
          action: (action) ? action.action : false,
          callback: (action) ? action.callback : null
        });
      },
      actionClicked() {
        clearTimeout(this.timeout);
        this.close();
        this.current.callback();
      },
      close() {
        this.show = false;
      },
      afterEnter() {
        if (this.current.autoHide) this.timeout = setTimeout(this.close, 3000);
      },
      afterLeave() {
        this.list.shift();
      }
    },
    watch: {
      list() {
        if (!this.show && this.list.length > 0) {
          this.current = this.list[0];
          this.show = true;
        }
      }
    },
    created() {
      this.$root.$on('notification', this.add);
    }
  }
</script>

<style lang="stylus" scoped>
  @import '../stylus/imports'

  .snackbar {
    shadow(2)
    display: inline-flex
    position: fixed
    bottom: 0px
    left: 50%
    transform: translateX(-50%) translateY(0%)
    min-height: 48px
    background-color: rgba(38,38,38,0.9)
    //min-width: 288px
    max-width: 568px
    border-radius: 2px
    font-size: 14px
    color: #fff
    padding: 15px 24px
    box-sizing: border-box
    align-items: center
    justify-content: space-between
    transition: transform 0.2s ease-out

    .action {
      color: $accentColour
      text-transform: uppercase
      font-weight: 500
      box-sizing: border-box
      height: 48px
      line-height: 48px
      margin: -15px
      margin-left: 48px - 12px
      margin-right: -12px
      padding: 0px 12px
      cursor: pointer

      &:hover {
        background: rgba(0,0,0,0.1)
      }
    }
  }

  @media (max-width: 480px) {
    .snackbar {
      border-radius: 0
      width: 101%
      min-width: 101%
      max-width: 101%

      .action {
        margin-left: 24px - 12px
      }
    }
  }

  .popup-enter, .popup-leave-active {
    transform: translateX(-50%) translateY(100%)
  }
  .popup-leave-active {
    transition-timing-function: ease-in
  }
</style>
