<template>
  <div class="textinput" :class="{'textinput-invalid': invalid}">
    <input ref="input" :class="{'textinput-haslabel': !!label}" type="text" v-model="text" :placeholder="hint" :disabled="disabled" @focus="focused" @blur="$emit('blur')">

    <label v-if="label" :class="{'textinput-floated': !!text}">{{ label }}</label>

    <div class="textinput-underline"></div>

    <div v-if="invalid" class="textinput-invalid-message">{{ invalid }}</div>
  </div>
</template>

<script>
  export default {
    props: {
      value: String,
      label: String,
      hint: String,
      disabled: Boolean,
      invalid: String
    },
    computed: {
      text: {
        get() {
          return this.value
        },
        set(val) {
          this.$emit('input', val)
        }
      }
    },
    methods: {
      focused(e) {
        window.document.addEventListener('mousedown', this.blurInput, true);
      },
      blurInput(e) {
        if (e.target !== this.$refs.input) {
          window.document.removeEventListener('mousedown', this.blurInput, true)
          this.$refs.input.blur()
        }
      }
    }
  }
</script>

<style lang="stylus">
  @import '../stylus/imports'

  .textinput {
    display: inline-block;
    position: relative;
    clear: both;
    margin: 6px;

    input {
      font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
      font-size: 14px;
      color: $primaryLightTextColour;
      padding: 6px 0px;
      padding-top: 10px;
      background: none;
      border: none;
      border-bottom: 1px solid $lightDividerColour;
      width: 100%;
      outline: none

      &.textinput-haslabel {
        padding-top: 18px;

        &:not(:focus) {
          &::-moz-placeholder {
            opacity: 0;
          }
          &::-webkit-input-placeholder {
            opacity: 0;
          }
        }
      }

      &::-moz-placeholder {
        color: $secondaryLightTextColour;
        opacity: 1;
      }
      &::-webkit-input-placeholder {
        color: $secondaryLightTextColour;
        opacity: 1;
      }

      &:focus {
        & ~ .textinput-underline {
          transform: scaleX(1);
        }
        & ~ label {
          color: $primaryColour;
          font-size: 12px;
          top: 0px;
        }
      }

      &:disabled {
        border-bottom: none;
        color: $disabledTextColour

        &::-moz-placeholder, & ~ label {
          color: $disabledLightTextColour;
        }
        &::-webkit-input-placeholder {
          color: $disabledLightTextColour;
        }

        & ~ .textinput-underline {
          transform: scaleX(1);
          height: 1px;
          background: repeating-linear-gradient(to right, $disabledLightTextColour 0px, $disabledLightTextColour 1px, transparent 1px, transparent 4px);
        }
      }
    }

    .textinput-underline {
      position: absolute;
      bottom: 0px;
      height: 2px;
      width: 100%;
      background: $primaryColour;
      transform: scaleX(0);
      transition: transform 0.25s ease-out;
    }

    label {
      position: absolute;
      pointer-events: none;
      color: $secondaryLightTextColour;
      font-size: 14px;
      top: 20px;
      left: 0px;
      white-space: nowrap

      transition: top 0.25s ease-out, font-size 0.25s ease-out, color 0.25s ease-out;

      &.textinput-floated {
        font-size: 12px;
        top: 0px;
      }
    }

    &.textinput-invalid {
      margin-bottom: 25px

      .textinput-underline {
        background: $invalidColour
      }

      label {
        color: $invalidColour !important
      }

      input {
        border-bottom-color: $invalidColour
      }
    }

    .textinput-invalid-message {
      position: absolute
      top: calc(100% + 2px)
      color: $invalidColour
      font-size: 11px
      line-height: 11px
      max-height: 25px
      overflow: hidden
    }
  }
</style>
