@import 'imports.styl'

$size = 24px

input[type="checkbox"] {
  appearance: none
  height: $size
  width: $size
  min-width: $size
  min-height: $size
  max-width: $size
  max-width: $size
  cursor: pointer
  position: relative
  outline: none
  margin: -1px

  &:before, &:after {
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    content: ''
    background-color: rgba(255,255,255,0.8)
  }

  &:before {
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z'/></svg>")
  }

  &:after {
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z'/></svg>")
    opacity: 0
    transform: scale(0)
    transition: opacity 0.2s ease-out, transform 0s 0.2s
  }

  &:checked {
    &:before {
      transition: opacity 0s 0.2s
      opacity: 0
    }
    &:after {
      opacity: 1
      transform: scale(1)
      transition: opacity 0.2s ease-out, transform 0.2s ease-out
    }
  }
}
