@import 'imports.styl'

$size = 22px

input[type="radio"] {
  appearance: none
  height: $size
  width: $size
  min-width: $size
  min-height: $size
  max-width: $size
  max-width: $size
  cursor: pointer
  position: relative
  outline: none
  margin: -1px

  &:before, &:after {
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    content: ''
    background-color: rgba(255,255,255,0.8)
  }

  &:before {
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/></svg>")
  }

  &:after {
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 7c-2.76 0-5 2.24-5 5s2.24 5 5 5 5-2.24 5-5-2.24-5-5-5z'/></svg>")
    opacity: 0
    transform: scale(0)
    transition: opacity 0.2s ease-out, transform 0s 0.2s
  }

  &:checked {
    &:after {
      opacity: 1
      transform: scale(1)
      transition: opacity 0.2s ease-out, transform 0.2s ease-out
    }
  }
}
