::-webkit-scrollbar {
  width:  10px
  height: 10px
}
::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3)
  &:hover {
    background: rgba(255,255,255,0.6)
  }
}
::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.1)
  &:hover {
    background: rgba(255,255,255,0.15)
  }
}
::-webkit-scrollbar-corner {
  background: rgba(255,255,255,0.1)
}
