<template>
  <div class="expression-block">
    <textinput v-model="name" label="Name" @blur="updateName" :invalid="name ? '' : 'Required'"></textinput>
    <textinput v-model="expression" label="Expression" @keyup.native.enter="parseExpression" @blur="parseExpression"></textinput>
  </div>
</template>

<script>
export default {
  data() {
    return {
      expression: this.optionsData.expression,
      name: this.optionsData.name,
    }
  },
  props: {
    optionsData: Object
  },
  computed: {
    optionsValid() {
      return this.name && this.expression;
    },
  },
  methods: {
    updateValidity() {
      if (this.optionsValid) this.$emit('options-valid')
      this.$emit('update-size')
    },
    updateName() {
      this.$emit('update-options-data', 'name', this.name);
      this.$emit('update-output-name', 'out', this.name);
      this.updateValidity();
    },
    parseExpression() {
      let exp = this.expression,
          matches = exp.match(/([A-Za-z]+(\.?[A-Za-z]+)*\(?)/g),
          inputs = [];

      this.$emit('update-options-data', 'expression', exp);

      if (matches) {
        for (let match of matches) {
          if (!match.endsWith('(') && !inputs.map(i => i.id).includes(match)) {
            inputs.push({
              id: match,
              name: match,
              type: 'numeric'
            });
          }
        }
      }

      this.$emit('update-inputs', inputs);

      this.updateValidity();
    }
  },
  created() {
    this.updateValidity();
  }
}
</script>

<style lang="stylus">
  .expression-block {
    margin: -2px
    margin-top: -6px
    width: 160px
  }
</style>
