<template>
  <transition>
    <div v-if="show" class="quick-selector" :style="{
      top: pos.y+'px',
      left: pos.x+'px',
    }" @mousedown.stop>
      <div class="quick-selector-item" v-for="blockDef in filteredBlockDefs" :key="blockDef.id"
        @click="addNewBlock(blockDef)">
        <span>{{ blockDef.def.category }}</span> {{ blockDef.def.name }}
      </div>
    </div>
  </transition>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data() {
    const singleInputBlockDefs = Object.entries(require('electron').remote.getGlobal('blockDefs'))
      .filter(([blockDefId, blockDef]) => Array.isArray(blockDef.inputs) && blockDef.inputs.length === 1)
      .map(([blockDefId, blockDef]) => ({id: blockDefId, def: blockDef}));

    return {
      blockDefs: singleInputBlockDefs,
      typeFilter: null,
      pipeId: null,
      pos: {x: 0, y: 0},
      show: false,
    }
  },
  computed: {
    filteredBlockDefs() {
      if (!this.typeFilter) return [];
      return this.blockDefs.filter(block => block.def.inputs[0].type.includes(this.typeFilter));
    },
  },
  methods: {
    pipeFreeEndDropped(pipeId, pipe, socket) {
      this.typeFilter = socket.type;
      this.pipeId = pipeId;

      if (this.filteredBlockDefs.length) {
        this.pos = pipe.end.pos;
        this.show = true;

        document.addEventListener('mousedown', this.closeSelector, true);
      }
    },
    addNewBlock(blockDef) {
      this.closeSelector();
      this.addBlock({
        defId: blockDef.id,
        pos: {
          x: this.pos.x,
          y: this.pos.y - 40,
        }
      }).then(blockId => {
        this.attachPipe({
          pipeId: this.pipeId,
          blockId,
          socketType: 'insockets',
          socketId: blockDef.def.inputs[0].id + (blockDef.def.inputs[0].multi ? '1' : ''),
        });
      });
    },
    closeSelector(e) {
      if (e && e.path.includes(this.$el)) return;

      this.show = false;
      document.removeEventListener('mousedown', this.closeSelector, true);
    },
    ...mapActions([
      'addBlock',
      'attachPipe',
    ]),
  },
  created() {
    this.$root.$on('pipeFreeEndDropped', this.pipeFreeEndDropped);
  }
}
</script>

<style lang="stylus">
  @import '../stylus/imports'

  .quick-selector
    position: absolute
    display: flex
    flex-direction: column
    background: alpha(darken(#3E3D44, 45%), 98%)
    font-weight: 300
    font-size: 14px
    border-radius: 3px
    box-shadow: 0 0 70px 10px alpha(black, 35%)
    transform: translateY(-50%) scale(1)
    transform-origin: center left
    z-index: 1000
    transition: transform 0.15s, opacity 0.15s

    &.v-enter, &.v-leave-to
      transform: translateY(-50%) scale(0.5)
      opacity: 0

  .quick-selector-item
    padding: 8px 15px
    white-space: nowrap
    cursor: pointer

    span
      opacity: 0.7

      &:after
        content: '⌵'
        display: inline-block
        transform: rotate(-90deg)
        margin: 0 3px

    &:hover
      background: alpha(white, 5%)
</style>
