<template>
<transition :css="false" @leave="blockLeave">
  <div class="block" :class="{'block-dragging': block.dragging, 'block-selected': block.selected}" :style="{
    transform: `translate(${this.block.renderPos.x}px, ${this.block.renderPos.y}px)`,
    height: block.size.height+'px',
    width: block.size.width+'px',
    zIndex: block.order*5
  }"
  @mousedown.stop="toggleSelected">

    <block-header :block="block" :block-id="blockId" @mousedown.native="dragStart"></block-header>

    <socket ref="insockets" type="in" v-for="(socket, socketId) in block.insockets" :key="socketId" :socket="socket" :socket-id="socketId" :ypos="inSocketsPos[socketId]" @width-update="socketWidthUpdate" @socket-remove="socketWidthRemove"></socket>

    <block-content @size-update="contentSizeUpdate" :block-id="blockId" :options="options" :optionsData="block.optionsData" :persist-state="block.persistState" :insockets="block.insockets" :def-id="block.defId" :dataValid="block.dataValid" :style="{
      top: contentPos.top+'px',
      left: contentPos.left+'px'
    }"></block-content>

    <socket ref="outsockets" type="out" v-for="(socket, socketId) in visibleOutSockets" :key="socketId" :socket="socket" :socket-id="socketId" :ypos="outSocketsPos[socketId]"
    :isfirstdfchild="socket.parentDataframe && (visibleOutSocketOrder.indexOf(socket.parentDataframe)+1 === visibleOutSocketOrder.indexOf(socketId))"
    @width-update="socketWidthUpdate" @socket-remove="socketWidthRemove"></socket>

    <socket ref="overflowsocket" overflow v-if="overflowOutSocketOrder.length" type="out" :sockets="overflowOutSockets" socket-id="$$overflow" :ypos="outSocketsPos.$$overflow"
    @width-update="socketWidthUpdate" @socket-remove="socketWidthRemove"></socket>

  </div>
</transition>
</template>

<script>
  import Vue from 'vue'
  import { mapActions, mapGetters } from 'vuex'

  import {round, tween} from '../vuex/utils.js'

  import blockHeader from './blockHeader.vue'
  import socket from './socket.vue'
  import blockContent from './blockContent.vue'
  import autoscrollDragStart from '../utils/autoscroll_drag.js'

  const {remote} = window.require('electron');

  const friction = 0.05,
        socketHeight = 35, // 19 {socket} + (2 * 8) {padding}
        blockNameHeight = 32,
        verticalPadding = 4,
        topPaddingHeight = blockNameHeight + verticalPadding,
        totalPaddingHeight = blockNameHeight + 2*verticalPadding,
        maxOutSocketsVisible = 8

  export default {
    components: { socket, blockContent, blockHeader },
    props: {
      blockId: String,
      block: Object,
    },
    data() {
      return {
        inSocketWidths: {},
        outSocketWidths: {},
        layout: remote.getGlobal('blockDefs')[this.block.defId].layout,
        options: remote.getGlobal('blockDefs')[this.block.defId].options,
        contentSize: {
          width: 0,
          height: 0
        },
        visibleOutSocketOrder: [],
        overflowOutSocketOrder: [],
      }
    },
    computed: {
      __visibleOutSocketOrder() {
        if (this.socketFilters.socketType) return [];

        let connectedSockets = new Set();
        let emptySockets = new Set();

        this.block.outsocketOrder.forEach(socketId => {
          const socket = this.block.outsockets[socketId];
          if (!!Object.keys(socket.pipes).length) {
            connectedSockets.add(socketId)
            if (socket.parentDataframe) {
              connectedSockets.add(socket.parentDataframe)
              emptySockets.delete(socket.parentDataframe)
            }
          } else {
            emptySockets.add(socketId);
          }
        });

        emptySockets = Array.from(emptySockets);

        if (emptySockets.length <= 1) {
          emptySockets.forEach(id => connectedSockets.add(id));
        } else {
          const emptySocketsToAdd = Math.max(maxOutSocketsVisible - connectedSockets.size - 1, 0);
          emptySockets.slice(0, emptySocketsToAdd).forEach(id => connectedSockets.add(id));
        }

        return this.block.outsocketOrder.filter(id => connectedSockets.has(id));
      },
      visibleOutSockets() {
        const sockets = {};
        this.visibleOutSocketOrder.forEach(socketId => {
          sockets[socketId] = this.block.outsockets[socketId]
        })
        return sockets
      },
      overflowOutSockets() {
        const sockets = {};
        this.overflowOutSocketOrder.forEach(socketId => {
          sockets[socketId] = this.block.outsockets[socketId]
        })
        return sockets
      },
      activeSockets() {
        const filter = this.socketFilters;
        if (filter.socketType && !filter.invalidBlocks.includes(this.blockId)) {
          const sockets = [];
          if (this.$refs[filter.socketType]) sockets.push(...this.$refs[filter.socketType]);
          if (filter.socketType === 'outsockets' && this.$refs.overflowsocket) sockets.push(this.$refs.overflowsocket);

          return sockets
            .filter(socket => {
              if (filter.socketType === 'insockets' && Object.keys(socket.pipes).length === 1) return false;
              if (!filter.types.length) return true;
              for (let type of filter.types) {
                if (socket.socketTypes.includes(type)) return true;
              }
              return false;
            })
        }
        return [];
      },
      inSocketsSize() {
        return this.calcSocketsBlock(this.inSocketWidths)
      },
      outSocketsSize() {
        return this.calcSocketsBlock(this.outSocketWidths)
      },
      blockSize() {
        if (this.layout === 'vertical') {
          return {
            height: round(totalPaddingHeight + this.inSocketsSize.height + this.contentSize.height + this.outSocketsSize.height, 'up'),
            width: round(Math.max(this.inSocketsSize.width, this.contentSize.width, this.outSocketsSize.width), 'up')
          }
        }
        if (this.layout === 'horizontal') {
          return {
            height: round(totalPaddingHeight + Math.max(this.inSocketsSize.height, this.contentSize.height, this.outSocketsSize.height), 'up'),
            width: round(this.inSocketsSize.width + this.contentSize.width + this.outSocketsSize.width, 'up')
          }
        }
      },
      inSocketsPos() {
        let socketOrder = this.block.insocketOrder,
            pos = {};

        for (let i = 0, len = socketOrder.length; i < len; i++) {
          pos[socketOrder[i]] = topPaddingHeight + i*socketHeight;
        }
        return pos;
      },
      outSocketsPos() {
        const socketOrder = [...this.visibleOutSocketOrder],
            blockHeight = this.blockSize.height - verticalPadding,
            pos = {};

        if (this.overflowOutSocketOrder.length) socketOrder.push('$$overflow');
        
        const startPos = blockHeight - socketOrder.length * socketHeight;

        for (let i = 0, len = socketOrder.length; i < len; i++) {
          pos[socketOrder[i]] = startPos + socketHeight*i;
        }

        return pos;
      },
      contentPos() {
        let layout = this.layout,
            verticalFreeSpace = this.blockSize.height - (totalPaddingHeight + (layout === 'vertical' ? (this.inSocketsSize.height + this.outSocketsSize.height) : 0)),
            horizontalFreeSpace = this.blockSize.width - (layout === 'horizontal' ? (this.inSocketsSize.width + this.outSocketsSize.width) : 0)

        return {
          top: topPaddingHeight + (layout === 'vertical' ? this.inSocketsSize.height : 0) + (verticalFreeSpace - this.contentSize.height)/2,
          left: (layout === 'horizontal' ? this.inSocketsSize.width : 0) + (horizontalFreeSpace - this.contentSize.width)/2
        }
      },
      ...mapGetters([
        'socketFilters',
      ])
    },
    methods: {
      dragStart(e) {
        if (e.button === 0) {
          this.startBlockDragging({
            blockId: (this.block.selected) ? '' : this.blockId
          })

          autoscrollDragStart(e, this.dragUpdate, this.dragEnd, '-webkit-grabbing');
        }
      },
      dragUpdate({mouseDelta, canvasDelta}) {
        this.updateBlockRenderPos({
          blockId: (this.block.selected) ? '' : this.blockId,
          pos: {
            x: mouseDelta.x - canvasDelta.x,
            y: mouseDelta.y - canvasDelta.y
          },
          relative: true
        });
      },
      dragEnd({mouseVelocity}) {
        var dragVelocityOffset = {
          x: mouseVelocity.x*friction,
          y: mouseVelocity.y*friction
        }

        this.endBlockDragging({
          blockId: (this.block.selected) ? '' : this.blockId,
        })

        this.updateBlockPos({
          blockId: (this.block.selected) ? '' : this.blockId,
          pos: dragVelocityOffset,
          relative: true
        });
      },
      toggleSelected(e) {
        if (e.button === 2) {
          this.toggleBlockSelected({
            blockId: this.blockId
          });
        }
      },
      socketWidthUpdate(type, socketId, width) {
        let socketWidths = this[type+'SocketWidths'];
        if (socketWidths[socketId]) socketWidths[socketId] = width;
        else Vue.set(socketWidths, socketId, width);
      },
      socketWidthRemove(type, socketId) {
        Vue.delete(this[type+'SocketWidths'], socketId);
      },
      calcSocketsBlock(sockets) {
        let socketWidths = Object.values(sockets);
        return {
          height: socketWidths.length * socketHeight,
          width: Math.max(0, ...socketWidths)
        }
      },
      contentSizeUpdate(size) {
        this.contentSize = size;
      },
      getActiveSocketPositions() {
        return this.activeSockets.map(socket => {
          const socketType = socket.type+'sockets';
          return {
            blockId: this.blockId,
            socketType: socketType,
            socketId: socket.socketId,
            pos: {
              x: this.block.pos.x + ((socketType === 'outsockets') ? this.block.size.width : 0),
              y: this.block.pos.y + socket.yposCenter
            }
          }
        })
      },
      blockLeave(el, done) {
        let oldTransform = el.style.transform;

        tween.start('blockLeave'+this.blockId, {
          type: 'easeOutQuad',
          duration: 250,
          from: {
            opacity: 1,
            scale: 1
          },
          to: {
            opacity: 0,
            scale: 0.8
          }
        }, ({value}) => {
          el.style.opacity = value.opacity;
          el.style.transform = oldTransform+' scale('+value.scale+')';
        }, done)
      },
      ...mapActions([
        'updateBlockSize',
        'updateBlockPos',
        'updateBlockRenderPos',
        'toggleBlockSelected',
        'startBlockDragging',
        'endBlockDragging',
        'setBlockGASP',
      ])
    },
    watch: {
      __visibleOutSocketOrder: {
        handler(visibleOrder) {
          if (!this.socketFilters.socketType) {
            this.visibleOutSocketOrder = visibleOrder;
            this.overflowOutSocketOrder = this.block.outsocketOrder.filter(id => !visibleOrder.includes(id))
          }
        },
        immediate: true,
      },
      blockSize(size, oldSize) {
        this.updateBlockSize({
          blockId: this.blockId,
          size
        });
      }
    },
    created() {
      this.setBlockGASP({
        blockId: this.blockId,
        getter: this.getActiveSocketPositions,
      });
    },
  }
</script>

<style lang="stylus" scoped>
  @import '../stylus/imports'

  $blockColour = #45444B

  .block {
    position: absolute
    shadow(1)
    background-color: $blockColour
    border-radius: 3px
    cursor: default
    opacity: 0.97
    //will-change: transform
    //z-index: 10

    /*&:active {
      will-change: transform
    }*/

    &.block-dragging {
      shadow(2)
    }

    &.block-selected:after {
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      border-radius: 3px
      border: 1px solid $accentColour
      background: alpha($accentColour, 0.1)
      pointer-events: none
      opacity: 0.8
    }
  }
</style>
