<template>
  <div class="block-content" :style="{padding: options ? '4px' : 'none'}">
    <component ref="customBlockContent" v-if="options && options.customPath" :is="customOpts"
      :block-id="blockId"
      :options-data="optionsData"
      :persist-state="persistState"
      :block-temp-dir="blockTempDir"
      :run-additional-function="runAdditionalFunction"
      :manually-set-block-validity="manuallySetValidity"
      :connected-inputs="connectedInputs"
      @update-options-data="updateOption"
      @persist-state="updatePersistedState"
      @update-inputs="updateInputs"
      @update-output-name="updateOutputName"
      @options-valid="setOptionsValidity"
      @update-size="updateSize"
      @openFullscreenView="openFullscreenView"
    ></component>

    <block-options v-if="Array.isArray(options)"
      :options="options"
      :options-data="optionsData"
      :connected-inputs="connectedInputs"
      @update-option="updateOption"
      @update-size="updateSize"
      @options-valid="setOptionsValidity"
    ></block-options>

    <!-- Options Valid: {{ optionsValid }}<br>
    Inputs Valid: {{ allInputsValid }}<br>
    Required Connected: {{ allRequiredInputsConnected }}<br>
    All Valid: {{ allReady }} -->
  </div>
</template>

<script>
  import blockOptions from './blockOptions.vue'

  import {mapActions, mapGetters} from 'vuex'

  import isEqual from 'lodash/isEqual'

  import ipcPromise from '../../shared/ipcPromise.js'

  export default {
    components: { blockOptions },
    data() {
      return {
        customOpts: null,
        optionsValid: (this.options) ? false : true,
        waitingToUpdateInputs: false,
        inputsChanged: false,
        connectedInputs: {},
        blockTempDir: null,
      }
    },
    props: {
      blockId: String,
      dataValid: Boolean,
      options: [Object, Array],
      optionsData: Object,
      persistState: Object,
      defId: String,
      insockets: Object
    },
    computed: {
      connectedInputsRaw() {
        let inputs = {};
        for (let socketKey of Object.keys(this.insockets)) {
          let socket = this.insockets[socketKey]
          let connectedPipe = this.pipes[Object.keys(socket.pipes)[0]]
          if (connectedPipe && connectedPipe.start.block) {
            let connectedSocket = this.blocks[connectedPipe.start.block].outsockets[connectedPipe.start.socket]
            inputs[socketKey] = {
              blockId: connectedPipe.start.block,
              outputId: connectedPipe.start.socket,
              outputName: connectedSocket.name,
              parentDataframe: connectedSocket.parentDataframe,
              dataframe: connectedSocket.dataframe
            }
          }
        }
        return inputs;
      },
      allRequiredInputsConnected() {
        for (let socketKey of Object.keys(this.insockets)) {
          if (!this.insockets[socketKey].optional && !this.connectedInputs[socketKey]) return false
        }
        return true
      },
      allInputsValid() {
        for (let input of Object.values(this.connectedInputs)) {
          if (!this.blocks[input.blockId].dataValid) return false
        }
        return true
      },
      allReady() {
        return this.allRequiredInputsConnected && this.allInputsValid && this.optionsValid && Object.keys(this.connectedInputs).length > 0
      },
      shouldProcessBlockData() {
        return this.allReady && (this.inputsChanged || !this.dataValid)
      },
      ...mapGetters([
        'blocks',
        'pipes',
        'globalDragging'
      ])
    },
    methods: {
      openFullscreenView(component, componentProps) {
        console.log('open fullscreen');
        this.$root.$emit('openFullscreenView', component, componentProps);
        this.$root.$once('fullscreenViewClosed', () => {
          this.$refs.customBlockContent.$emit('fullscreenViewClosed');
        })
      },
      runAdditionalFunction(additionalFunction, ...args) {
        return ipcPromise.send('runBlock', this.defId, this.blockId, true, {additionalFunction, args: args || []});
      },
      manuallySetValidity(valid) {
        this.manualUpdateBlockData({
          blockId: this.blockId,
          valid,
        });
      },
      updateSize() {
        this.$emit('size-update', {
          width: this.$el.offsetWidth,
          height: this.$el.offsetHeight
        })
      },
      updateInputs(newInputs) {
        this.updateBlockInputs({
          blockId: this.blockId,
          newInputs
        });
      },
      updateOutputName(outputId, outputName) {
        this.renameSocket({
          blockId: this.blockId,
          socketType: 'outsockets',
          id: outputId,
          name: outputName,
        })
      },
      updateOption(option, data) {
        this.optionsValid = false
        console.log(this.blockId+' invalidate options');
        this.invalidateBlock();
        this.updateOptionsData({
          blockId: this.blockId,
          option,
          data
        })
      },
      updatePersistedState(stateId, data) {
        this.updatePersistState({
          blockId: this.blockId,
          stateId,
          data
        })
      },
      setOptionsValidity() {
        this.optionsValid = true
      },
      invalidateBlock() {
        this.invalidateBlockData({blockId: this.blockId})
      },
      updateConnectedInputs() {
        if (!isEqual(this.connectedInputsRaw, this.connectedInputs)) {
          this.connectedInputs = this.connectedInputsRaw;
        }
      },
      ...mapActions([
        'invalidateBlockData',
        'processBlockData',
        'updateOptionsData',
        'updatePersistState',
        'updateBlockInputs',
        'getBlockTempDir',
        'manualUpdateBlockData',
        'renameSocket',
      ])
    },
    watch: {
      connectedInputsRaw: { // temp (haha) fix: only change connected inputs when something actually changes
        handler(inputs) {
          if (!this.waitingToUpdateInputs) {
            if (this.globalDragging) {
              this.waitingToUpdateInputs = true;
              let unwatch = this.$watch('globalDragging', (dragging) => {
                unwatch();
                this.$nextTick(() => {
                  this.updateConnectedInputs();
                  this.waitingToUpdateInputs = false;
                })
              })
            }
            else {
              this.updateConnectedInputs();
            }
          }
        },
        immediate: true
      },
      connectedInputs() {
        console.log(this.blockId+' invalidate connected inputs');
        this.invalidateBlock()
        this.inputsChanged = true;
      },
      allInputsValid(valid) {
        if (!valid) {
          console.log(this.blockId+' invalidate all inputs valid');
          this.invalidateBlock();
        }
      },
      shouldProcessBlockData: {
        handler(val) {
          if (val) {
            console.log(this.blockId+' start processing');
            this.inputsChanged = false;
            this.processBlockData({blockId: this.blockId, inputs: this.connectedInputs})
            .then((hasUpdated) => {
              if (hasUpdated && this.$refs.customBlockContent) {
                this.$refs.customBlockContent.$emit('blockUpdated');
              }
            });
          }
        },
        immediate: true
      }
    },
    created() {
      if (this.options && this.options.customPath) {
        this.getBlockTempDir({blockId: this.blockId, blockDefId: this.defId})
        .then((blockTempDir) => {
          this.blockTempDir = blockTempDir;
          this.customOpts = window.require(this.options.customPath);

          this.$nextTick(() => {
            this.updateSize();
          })
        })
      }
    },
    mounted() {
      this.$nextTick(() => {
        this.updateSize();
      })
    }
  }
</script>

<style lang="stylus">
  .block-content {
    position: absolute
    font-size: 14px
    //padding: 4px
  }
</style>
