<template>
  <div class="blockgraph" ref="screen">
    <infinite-canvas>

      <div class="blockgraph-origin" :class="{'blockgraph-hide-loading': isFileLoading}" :style="{
          top: canvasOrigin.y+'px',
          left: canvasOrigin.x+'px'
        }">

        <!-- <div style="position: absolute">{{ canvasOrigin.x }},{{ canvasOrigin.y }}</div> -->

        <!-- <div class="debug-boundingbox" :style="{
          top: blockBoundingBox.top+'px',
          left: blockBoundingBox.left+'px',
          height: blockBoundingBox.height+'px',
          width: blockBoundingBox.width+'px'
        }"></div> -->

        <block v-for="(block, blockId) in blocks"
          :block-id="blockId"
          :block="block"
          :key="blockId"
        ></block>

        <pipe v-for="(pipe, pipeId) in pipes"
          :pipe-id="pipeId"
          :pipe="pipe"
          :key="pipeId"
        ></pipe>

        <note v-for="note in notes"
          :note="note"
          :key="note"
        ></note>

        <block-selection></block-selection>

        <block-quick-selector></block-quick-selector>

      </div>

    </infinite-canvas>

    <div v-if="isFileLoading" class="blockgraph-loading"></div>

    <file-loading-error></file-loading-error>

    <data-viewer></data-viewer>

    <fullscreen-view></fullscreen-view>
    <fullscreen-portal-view />

    <selection-options></selection-options>
    <minimap></minimap>
    <block-library></block-library>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  import infiniteCanvas from './infinitecanvas.vue'
  import minimap from './minimap.vue'
  import block from './block.vue'
  import pipe from './pipe.vue'
  import note from './note.vue'
  import blockLibrary from './blockLibrary.vue'
  import blockSelection from './blockSelection.vue'
  import selectionOptions from './selectionOptions.vue'
  import fileLoadingError from './fileLoadingError.vue'
  import dataViewer from './dataViewer.vue'
  import fullscreenView from './fullscreenView.vue'
  import fullscreenPortalView from './fullscreenPortalView.vue'
  import blockQuickSelector from './blockQuickSelector.vue'

  export default {
    components: {
      infiniteCanvas,
      minimap,
      block,
      pipe,
      note,
      blockLibrary,
      blockSelection,
      selectionOptions,
      fileLoadingError,
      dataViewer,
      fullscreenView,
      fullscreenPortalView,
      blockQuickSelector,
    },
    computed: {
      ...mapGetters([
        'canvasOrigin',
        'blockBoundingBox',
        'blocks',
        'pipes',
        'notes',
        'isFileLoading'
      ])
    },
    methods: {
      screenSizeChanged() {
        this.updateScreenSize({
          size: {
            height: this.$refs.screen.clientHeight,
            width: this.$refs.screen.clientWidth
          }
        });
      },
      ...mapActions([
        'canvasMoveTo',
        'canvasMoveToCenter',
        'updateScreenSize',
        'loadBlockGraphData'
      ])
    },
    watch: {
      canvasOrigin(newVal, oldVal) {
        this.canvasMoveTo({
          pos: {
            x: (oldVal.x - newVal.x)/2,
            y: (oldVal.y - newVal.y)/2
          },
          relative: true
        });
      }
    },
    mounted() {
      this.$nextTick(() => {
        this.screenSizeChanged();
        window.addEventListener('resize', this.screenSizeChanged);

        this.canvasMoveToCenter();
      })
    }
  }
</script>

<style lang="stylus" scoped>
  @import '../stylus/imports'

  .blockgraph {
    position: absolute
    top: 0px
    left: 0px
    right: 0px
    bottom: 0px
    background-color: $mainDarkBackground
    overflow: hidden
  }

  .blockgraph-origin {
    position: absolute
    transition: opacity 0.5s

    /*&:after {
      content: ''
      position: absolute
      height: 2px
      width: 2px
      background-color: #bada55
      z-index: 1001
    }*/
  }

  .blockgraph-hide-loading {
    opacity: 0
    transition: none
  }

  .blockgraph-loading {
    position: absolute
    top: 0px
    left: 0px
    right: 0px
    bottom: 0px
    background: rgba(0,0,0,0.4)
    z-index: 10
  }
  .blockgraph-loading:after {
    position: absolute
    content: ''
    top: 50%
    left: 50%
    height: 40px
    width: 40px
    margin-left: -20px
    margin-top: -20px
    border: 8px solid #fff
    border-top-color: transparent
    border-radius: 50%
    opacity: 0.9
    animation: spin 0.8s infinite linear
  }
  @keyframes spin {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
  }

  .debug-boundingbox {
    position: absolute
    box-sizing: border-box
    border: 1px solid orange
    z-index: 1000
    pointer-events: none
    opacity: 0.5
  }
</style>
