<script>
  import validators from '../utils/validators.js'

  export default {
    render(createElement) {
      return createElement('div', {
        attrs: {
          class: 'block-options'
        }
      }, this.options.map((option, index) => {
        return createElement(
          (option.type === 'select') ? 'ui-select': option.type,
          {
            props: {
              value: this.optionsData[option.id],
              invalid: this.validations[index].message,
              ...this.staticProps[index]
            },
            on: {
              input: (input) => {
                this.$emit('update-option', option.id, input)
                this.validate(index)
              },
              blur: this.onBlur
            }
          }
        )
      }))
    },
    props: {
      options: Array,
      optionsData: Object,
      connectedInputs: Object,
    },
    data() {
      return {
        validations: []
      }
    },
    computed: {
      staticProps() {
        return this.options.map((option) => {
          let props = {
            label: option.label
          }
          if (['multiselect', 'select'].includes(option.type)) {
            let opts = this.getOptions(option)
            props.options = opts
            props.disabled = !opts.length
          }
          return props
        })
      },
      allValid() {
        for (let validation of this.validations) {
          if (!validation.valid) return false;
        }
        return true;
      }
    },
    methods: {
      getOptions({options}) {
        return (typeof options === 'string') ? (this.connectedInputs[options] ? this.mapDataframeToOptions(this.connectedInputs[options].dataframe) : []) : options
      },
      mapDataframeToOptions(dataframe) {
        return dataframe.map((item) => {
          return {
            value: item.name, // ??
            label: item.name
          }
        })
      },
      validate(index) {
        let option = this.options[index]
        let valid = this.validateOption(option)
        if (this.validations[index].valid !== valid.valid || this.validations[index].message !== valid.message) {
          this.$set(this.validations, index, valid)
        }
      },
      validateOption(option) {
        let optionData = this.optionsData[option.id],
            validations = option.validation || [];

        if (!validators.required(optionData)) {
          if (option.optional || option.type === "boolean") return {valid: true};
          else return {valid: false, message: 'Required'};
        }

        for (let validation of validations) {
          let validator = validators[validation.type];
          if (validator) {
            if (!validator(optionData, ...(validation.args || []))) {
              return {valid: false, message: validation.message}
            }
          }
          else {
            return {valid: false, message: '!! Cannot find validator !!'}
          }
        }

        return {valid: true};
      },
      onBlur() {
        if (this.allValid) {
          this.$emit('options-valid');
        }
      }
    },
    watch: {
      validations() {
        this.$nextTick(() => {
          this.$emit('update-size')
        })
      }
    },
    created() {
      this.validations = this.options.map((option) => {
        return this.validateOption(option)
      });
      if (this.allValid) this.$emit('options-valid');
    }
  }
</script>

<style lang="stylus">
  .block-options {
    display: flex
    flex-direction: column
  }
</style>
