<template>
<div>
  <div class="blocklib" :class="{'blocklib-open': open}">
    <div class="blocklib-inner">
    <div class="blocklib-header" @click="toggleOpen">
      <div><span :class="{flip: open}">⌵</span>&nbsp;&nbsp;Blocks</div>
    </div>
    <div class="blocklib-panel">
      <div v-for="(category, index) in blocksList" class="blocklib-category">
        <div class="blocklib-category-header" @click="toggleCategory(index)">
          {{ category.name }}
          <span>{{ category.blocks.length }}</span>
          <icon :class="{rotate: category.open}" name="keyboard_arrow_right"></icon>
        </div>
        <div class="blocklib-category-blocks" :style="{
            height: (category.open) ? (Math.ceil(category.blocks.length/2)*41+6)+'px' : '0px'
          }">
          <div v-for="block in category.blocks" class="blocklib-block" @mousedown="newBlockStartDrag($event, block.id, block.name)">
            {{ block.name }}
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

  <div v-if="newBlock.dragging" class="blocklib-block blocklib-newblock" :style="{
      transform: `translate(${this.newBlock.pos.x}px, ${this.newBlock.pos.y}px)`
    }">
    {{ newBlock.name }}
  </div>
</div>
</template>

<script>
  import '../icons/keyboard_arrow_right.svg'
  import icon from '../ui-components/icon.vue'

  import autoscrollDragStart from '../utils/autoscroll_drag.js'

  const {remote} = window.require('electron');

  export default {
    components: { icon },
    data() {
      return {
        open: false,
        newBlock: {
          dragging: false,
          defId: null,
          pos: {
            x: 0,
            y: 0
          },
          name: ''
        },
        blocksList: []
      }
    },
    methods: {
      toggleOpen() {
        this.open = !this.open
      },
      toggleCategory(index) {
        this.blocksList[index].open = !this.blocksList[index].open
      },
      newBlockStartDrag(e, blockDefId, blockName) {
        if (e.button === 0) {
          this.newBlock.defId = blockDefId;
          this.newBlock.name = blockName;
          var boundingBox = e.target.getBoundingClientRect();
          this.newBlock.pos = {
            x: boundingBox.left,
            y: boundingBox.top
          };
          this.newBlock.dragging = true;

          autoscrollDragStart(e, this.dragUpdate, this.dragEnd, '-webkit-grabbing');

          this.open = false;
        }
      },
      dragUpdate({mouseDelta}) {
        this.newBlock.pos.x += mouseDelta.x;
        this.newBlock.pos.y += mouseDelta.y;
      },
      dragEnd() {
        let canvasOrigin = this.$store.getters.canvasOrigin,
            canvasPos = this.$store.getters.canvasPos;
        this.$store.dispatch('addBlock', {
          defId: this.newBlock.defId,
          pos: {
            x: this.newBlock.pos.x - canvasOrigin.x - canvasPos.x,
            y: this.newBlock.pos.y - canvasOrigin.y - canvasPos.y
          }
        })
        this.newBlock.dragging = false;
      },
      getBlockList() {
        let blocks = remote.getGlobal('blockDefs'),
            blockCats = {},
            blockList = [];

        for (let blockId of Object.keys(blocks)) {
          let block = blocks[blockId];

          if (!blockCats[block.category]) blockCats[block.category] = [];

          blockCats[block.category].push({
            id: blockId,
            name: block.name
          })
        }

        for (let cat of Object.keys(blockCats)) {
          blockList.push({
            name: cat,
            open: false,
            blocks: blockCats[cat]
          })
        }

        blockList.sort((a, b) => {
          let A = a.name.toUpperCase(),
              B = b.name.toUpperCase();
          if (A < B) return -1;
          if (A > B) return 1;
          return 0;
        })

        return blockList;
      }
    },
    created() {
      this.blocksList = this.getBlockList();
    }
  }

</script>

<style lang="stylus" scoped>
  @import '../stylus/imports'

  $blockColour = #45444B
  $blockHeaderColour = #3E3D44

  .blocklib {
    position: absolute
    width: 400px
    top: 32px
    bottom: 0px
    right: 0px
    shadow(2)
    transform: translateX(360px)
    transition: transform 0.15s ease-out

    &.blocklib-open {
      transform: none
    }
  }

  .blocklib-inner {
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    display: flex
    align-items: stretch
    background: alpha(darken($blockHeaderColour, 55%), 80%)
    backdrop-filter: blur(15px)
    overflow: hidden
  }

  .blocklib-panel {
    position: relative
    overflow-y: auto
    padding-top: 10px
  }

  .blocklib-header {
    position: relative
    width: 40px
    background-color: alpha(black, 20%)
    cursor: pointer
    font-weight: 400
    text-transform: uppercase
    font-size: 16px
    flex-shrink: 0

    div {
      position: absolute
      transform-origin: bottom right
      transform: rotate(90deg)
      display: flex
      align-items: center
      height: 40px
      bottom: 0px
      right: 40px
      padding: 0 30px

      span {
        margin-bottom: 5px
        line-height: 10px

        &.flip {
          transform: scaleY(-1)
          margin-bottom: -5px
        }
      }
    }
  }

  .blocklib-category-header {
    height: 35px
    width: 100%
    box-sizing: border-box
    padding-left: 20px
    display: flex
    align-items: center
    font-size: 17px
    font-weight: 300
    line-height: 35px
    cursor: pointer

    span {
      font-weight: 400
      font-size: 14px
      margin-left: 5px
      margin-right: 7px
      opacity: 0.6
      font-weight: 300
    }

    svg {
      opacity: 0.8
      transition: transform 0.2s ease-out

      &.rotate {
        transform: rotate(90deg)
      }
    }

    &:hover {
      background: rgba(255,255,255,0.1)
    }
  }

  .blocklib-category-blocks {
    overflow: hidden
    transition: height 0.2s ease-out
    padding-left: 10px
    padding-top: 3px
  }

  .blocklib-block {
    height: 32px
    width: 160px
    background: $blockHeaderColour
    shadow(1)
    font-size: 16px
    line-height: 32px
    font-weight: 300
    border-radius: 2px
    text-align: center
    margin: 3px
    padding: 0 10px
    box-sizing: border-box
    float: left
    cursor: grab
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  }
  .blocklib-newblock {
    float: none
    position: absolute
    margin: 0
    shadow(3)
  }
</style>
