<template>

  <div v-if="active" class="selection-highlight" :style="{
      top: Math.min(highlight.start.y, highlight.end.y)+'px',
      left: Math.min(highlight.start.x, highlight.end.x)+'px',
      width: Math.abs(highlight.start.x - highlight.end.x)+'px',
      height: Math.abs(highlight.start.y - highlight.end.y)+'px'
    }"></div>

</template>

<script>
  import {mapActions} from 'vuex'
  import autoscrollDragStart from '../utils/autoscroll_drag.js'

  export default {
    data() {
      return {
        active: false,
        highlight: {
          start: {
            x: 0,
            y: 0
          },
          end: {
            x: 0,
            y: 0
          }
        },
        selectableBlocks: []
      }
    },
    methods: {
      dragStart(e) {
        autoscrollDragStart(e, this.dragUpdate, this.dragEnd, 'crosshair');

        this.dragUpdate({
          mousePos: {
            x: e.clientX,
            y: e.clientY
          }
        });
        this.highlight.start = this.highlight.end;
        this.active = true;

        this.selectableBlocks = [...this.$store.getters.unselectedBlocks];
      },
      dragUpdate({mousePos}) {
        var canvasPos = this.$store.getters.canvasPos,
            canvasOrigin = this.$store.getters.canvasOrigin;

        this.highlight.end = {
          x: mousePos.x - canvasPos.x - canvasOrigin.x,
          y: mousePos.y - canvasPos.y - canvasOrigin.y
        };
      },
      dragEnd() {
        this.active = false;
      },
      ...mapActions([
        'setBlockSelected'
      ])
    },
    watch: {
      'highlight.end': function(val, oldVal) {
        if (val.x !== oldVal.x || val.y !== oldVal.y) {
          let sel = {
            top: Math.min(this.highlight.start.y, this.highlight.end.y),
            left: Math.min(this.highlight.start.x, this.highlight.end.x),
            bottom: Math.max(this.highlight.start.y, this.highlight.end.y),
            right: Math.max(this.highlight.start.x, this.highlight.end.x)
          },
          selectableBlocks = this.selectableBlocks,
          blocks = this.$store.getters.blocks;

          for (var i = 0, len = selectableBlocks.length; i < len; i++) {
            let id = selectableBlocks[i],
                block = blocks[id];

            if (
              block.pos.x >= sel.left &&
              block.pos.x+block.size.width <= sel.right &&
              block.pos.y >= sel.top &&
              block.pos.y+block.size.height <= sel.bottom
            ) {
              if (!block.selected) {
                this.setBlockSelected({
                  blockId: id,
                  selected: true
                })
              }
            }
            else {
              if (block.selected) {
                this.setBlockSelected({
                  blockId: id,
                  selected: false
                })
              }
            }
          }
        }
      }
    },
    created() {
      this.$root.$on('canvasRightMouseDown', this.dragStart);
    }
  }
</script>

<style lang="stylus" scoped>
  @import '../stylus/imports'

  .selection-highlight {
    position: absolute
    border: 1px solid alpha($accentColour, 0.8)
    background-color: alpha($accentColour, 0.1)
    z-index: 100
    pointer-events: none
  }
</style>
