<template>
  <div class="block-header" :class="{'block-header-iserror': blockStatus === 2}">
    <div class="block-header-title">{{ block.name }}</div>

    <span v-if="devMode">{{ blockId }}</span>

    <div class="block-header-status" :class="{'block-header-invalid': blockStatus !== 0, 'block-header-status-clickable': blockStatus !== 1}" @mousedown="stopProp" @click="clickStatus">
      <svg v-if="blockStatus === 0" width="14" height="11" viewBox="0 0 14 11">
        <line x1="0" y1="0.5" x2="14" y2="0.5"/>
        <line x1="0" y1="5.5" x2="14" y2="5.5"/>
        <line x1="0" y1="10.5" x2="14" y2="10.5"/>
      </svg>
      <svg v-if="blockStatus === 1" width="14" height="14" viewBox="0 0 14 14">
        <circle cx="7" cy="7" r="5"/>
      </svg>
      <svg v-if="blockStatus === 2" width="15" height="15" viewBox="-2 0 11 14">
        <polygon points="0 10, 5 1.34, 10 10" />
      </svg>

      <div v-if="block.processRunning" class="block-header-processing"></div>
    </div>

    <div v-if="blockStatus === 2 && this.errorOpen" class="block-header-error" v-html="errorHtml"></div>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex'

  const VALID = 0,
        INVALID = 1,
        ERROR = 2;

  export default {
    data() {
      return {
        devMode: process.env.NODE_ENV !== 'production',
        errorOpen: false
      }
    },
    props: {
      blockId: String,
      block: Object
    },
    computed: {
      blockStatus() {
        if (this.block.dataValid) return VALID;
        if (this.block.dataError) return ERROR;
        return INVALID;
      },
      errorHtml() {
        return (this.block.dataError || '').replace('\n', '<br>');
      },
      ...mapGetters([
        'globalDragging'
      ])
    },
    methods: {
      clickStatus() {
        if (this.blockStatus === VALID) this.$root.$emit('viewBlockData', this.blockId);
        if (this.blockStatus === ERROR) this.errorOpen = !this.errorOpen
      },
      stopProp(e) {
        if (this.blockStatus !== INVALID) e.stopPropagation();
      }
    },
    watch: {
      'block.dataError': function(err, oldErr) {
        if (err) this.errorOpen = true
      },
      globalDragging(dragging) {
        if (dragging) this.errorOpen = false
      }
    }
  }
</script>

<style lang="stylus">
  $blockHeaderColour = #3E3D44
  $errorRed = #e53935

  .block-header {
    position: absolute
    background-color: $blockHeaderColour
    height: 32px
    font-size: 16px
    padding-left: 14px
    font-weight: 300
    border-radius: 3px 3px 0 0
    cursor: grab
    top: 0px
    left: 0px
    right: 0px
    display: flex
    align-items: center

    &.block-header-iserror:after {
      content: ''
      position: absolute
      background: $errorRed
      top: 0px
      left: 0
      right: 0
      height: 2px
      border-radius: 3px 3px 0 0
    }

    &:hover {
      span {
        opacity: 0.6
      }
    }

    span {
      display: block
      position: absolute
      left: 3px
      right: 3px
      text-align: center
      top: -12px
      font-weight: 300
      opacity: 0
      font-size: 10px
    }

    .block-header-title {
      text-align: center
      flex-grow: 1
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
    }

    .block-header-status {
      position: relative
      flex-shrink: 0
      padding: 0 9px;
      align-self: stretch;
      display: flex;
      align-items: center;

      &.block-header-status-clickable:hover {
        background: rgba(0,0,0,0.1)
        cursor: pointer
      }

      svg {
        fill: none
        stroke-linejoin: round
        stroke-width: 1px
        stroke: #fff
      }

      &.block-header-invalid svg {
        fill: $errorRed
        stroke: $errorRed
        stroke-width: 2px
      }
    }

    .block-header-processing {
      position: absolute
      height: 12px
      width: 12px
      top: 50%
      margin-top: -6px
      left: 50%
      margin-left: -6px
      box-sizing: border-box
      border: 2px solid transparent
      border-top-color: #fff
      border-radius: 50%
      animation: spin 1s infinite linear
    }

    @keyframes spin {
      from {
        transform: rotate(0deg)
      }
      to {
        transform: rotate(360deg)
      }
    }

    .block-header-error {
      position: absolute
      bottom: 100%
      right: 0px
      background: $errorRed
      border-radius: 3px
      min-width: 250px
      padding: 6px
      margin-bottom: 10px
      font-size: 14px
      font-family: monospace

      &:after {
        content: ''
        position: absolute
        border: 5px solid transparent
        border-top-color: $errorRed
        bottom: -10px
        right: 10px
      }
    }
  }
</style>
