<template>
  <div v-if="isOpen" class="dataviewer-container">
    <div class="dataviewer-title">
      Data View
      <ui-button :raised="true" @click="closeViewer">Done</ui-button>
    </div>
    <div class="dataviewer">
      <div class="dataviewer-header">
        <div class="dataviewer-header-prevdepth" v-for="(depth, index) in previousDepths" @click="gotoPrevDepth(index)">
          <span class="dataviewer-header-heading">{{ depth.heading }}</span><br>
          <span class="dataviewer-header-value">{{ depth.value }}</span>
          <svg width="15" height="50" viewBox="0 0 15 50">
            <path d="M 0 0 L 14 25 L 0 50" />
          </svg>
        </div>
        <div class="dataviewer-header-currentdepth">
          depth <b>{{currentDepth+1}}</b>
        </div>
      </div>
      <div class="dataviewer-content">
        <data-table
          :data-block-id="currentDataBlockId"
          :data-index="currentIndex"
          :currentDepth="currentDepth"
          @gotoNextDepth="gotoNextDepth"
        ></data-table>
      </div>
    </div>
  </div>
</template>

<script>
  import {runCommand} from '../utils/runcommand.js'

  import uiButton from '../ui-components/button.vue'
  import dataTable from './dataTable.vue'

  export default {
    components: {uiButton, dataTable},
    data() {
      return {
        isOpen: false,
        blockParentList: [],
        currentDepth: 0,
        currentIndex: 1,
        previousDepths: []
      }
    },
    methods: {
      openViewer(blockId) {
        this.isOpen = true;
        runCommand({
          command: 'getBlockParentList',
          args: [`"b${blockId}"`]
        })
        .then((result) => {
          this.blockParentList = result.$data.reverse();
        })
      },
      closeViewer() {
        this.isOpen = false

        this.blockParentList = []
        this.currentDepth = 0
        this.currentIndex = 1
        this.previousDepths = []
      },
      gotoNextDepth(index, heading, value) {
        this.previousDepths.push({
          depth: this.currentDepth,
          index: this.currentIndex,
          heading,
          value,
        })
        this.currentDepth += 1
        this.currentIndex = index
      },
      gotoPrevDepth(index) {
        let depth = this.previousDepths.splice(index)[0];

        this.currentDepth = depth.depth
        this.currentIndex = depth.index
      }
    },
    computed: {
      currentDataBlockId() {
        return this.blockParentList[this.currentDepth]
      }
    },
    created() {
      this.$root.$on('viewBlockData', this.openViewer)
    }
  }
</script>

<style lang="stylus">
  @import '../stylus/imports'

  $blockColour = #45444B
  $blockHeaderColour = #3E3D44

  .dataviewer-container {
    position: absolute
    top: 33px
    left: 0
    right: 0
    bottom: 0
    background: rgba(0,0,0,0.7)
    backdrop-filter: blur(10px)
    z-index: 1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 5px 0 15px 0
    cursor: default
  }

  .dataviewer-title {
    font-size: 17px
    margin-bottom: 5px

    .ui-button {
      font-size: 12px
      width: 40px
      margin-left: 40px
      margin-right: -104px
    }
  }

  .dataviewer {
    background: $blockColour
    border-radius: 3px
    shadow(1)
    margin-top: auto
    margin-bottom: auto
    //min-height: 400px
    min-width: 300px
    max-width: 80%
    font-size: 14px
    overflow: hidden
    display: flex
    flex-direction: column
    align-items: stretch
  }

  .dataviewer-header {
    background: $blockHeaderColour
    height: 50px
    min-height: 50px
    color: #fff
    display: flex

    .dataviewer-header-prevdepth {
      position: relative
      line-height: 20px
      text-align: center
      padding: 5px 20px
      cursor: pointer

      &:not(:first-child) {
        padding-left: 35px
      }

      svg {
        position: absolute
        right: -15px
        top: 0
        stroke: rgba(255,255,255,0.8)
        stroke-width: 1px
        fill: $blockHeaderColour
        z-index: 1
      }

      &:hover {
        background: rgba(0,0,0,0.2)

        svg {
          fill: rgba(0,0,0,0.2)
        }
      }

      .dataviewer-header-heading {
        font-style: italic
        font-weight: 300
      }
      .dataviewer-header-value {
        font-weight: 500
      }
    }

    .dataviewer-header-currentdepth {
      line-height: 50px
      text-transform: uppercase
      font-style: italic
      font-size: 12px
      opacity: 0.65
      padding: 0 20px

      &:not(:first-child) {
        padding-left: 35px
      }

      b {
        font-weight: 500
        font-size: 14px
        padding-left: 3px
      }
    }
  }

  .dataviewer-content {
    // overflow: auto
    display: flex
    align-items: stretch
  }

</style>
