<template>
  <div class="datatable" ref="datatable" @scroll="scrollHandler">
    <div class="datatable-inner" :style="{height: tableSize.height+'px', width: tableSize.width+'px'}" :class="{'datatable-heading-showresize': showHeadingResize || resizing !== false}">

      <div class="datatable-column datatable-rownames" ref="rownames">
        <div class="datatable-heading">&nbsp;{{ totalRows }}&nbsp;</div>
        <div class="datatable-rowblock" :style="{top: `${rowBlockHeight*visibleBlocks.start.top}px`}">
          <div class="datatable-item" v-for="n in visibleRowNames">{{ n }}</div>
        </div>
      </div>

      <div class="datatable-heading datatable-spacer"></div>

      <div class="datatable-column" v-for="colName in visibleColNames" ref="column"
        :style="{
          width: columnWidths[colNames.indexOf(colName)] ? `${columnWidths[colNames.indexOf(colName)]}px` : '',
          left: `${columnLefts[colNames.indexOf(colName)]}px`,
        }">
        <div class="datatable-heading" @mouseenter="showHeadingResize = true" @mouseleave="showHeadingResize = false">
          <div class="datatable-heading-inner">
            {{ colName }}<br>
            <span>{{ colClasses[colNames.indexOf(colName)] }}</span>
          </div>
          <div class="datatable-heading-resize"
            @mousedown="startResize($event, colNames.indexOf(colName))"
          ></div>
        </div>
        <div v-if="supportedClassCols[colNames.indexOf(colName)]" class="datatable-rowblock" :style="{
            top: `${rowBlockHeight*(rowIndex+visibleBlocks.start.top)}px`
          }"
          v-for="(rowBlock, rowIndex) in blockData[colName]">
          <div class="datatable-item" :class="{'datatable-item-na': item === 'NA'}"
            v-for="item in rowBlock">
            {{ typeof rowBlock === 'number' ? '' : item }}
          </div>
        </div>
        <div v-else class="datatable-rowblock datatable-nopreview">
          <div class="datatable-item">No data preview</div>
        </div>
      </div>

      <div class="datatable-column datatable-nextdepth" v-if="childCount">
        <div class="datatable-heading">depth<br><b>{{ currentDepth + 2 }}</b></div>
        <div class="datatable-item" v-for="n in childCount"
          @click="gotoNextDepth(n-1)">
          <svg width="10" height="16" viewBox="0 0 10 16">
            <path d="M 1 1 L 9 8 L 1 15" />
          </svg>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import debounce from 'lodash/debounce'
import throttle from 'lodash/throttle'
import mapValues from 'lodash/mapValues'

import {runCommand} from '../utils/runcommand.js'
import dragStart from '../utils/drag.js'

const colBlockCount = 20
const rowBlockCount = 50

const supportedClasses = ['character', 'numeric', 'integer', 'factor']

const loadingBlocks = []

const generateArrayBetween = (start, end) => Array(end-start+1).fill().map((_,index) => start+index);

export default {
  data() {
    return {
      rowBlockHeight: rowBlockCount*33,

      viewportSize: {
        height: 0,
        width: 0,
      },
      viewportPos: {
        left: 0,
        top: 0,
      },
      visibleBlocks: {
        start: {
          left: 0,
          top: 0,
        },
        end: {
          left: 0,
          top: 0,
        },
      },

      showHeadingResize: false,
      resizing: false,

      rownameColWidth: 0,
      columnWidths: [],
      colBlockLefts: [],
      colNames: [],
      colClasses: [],
      childCount: 0,
      childIndex: 0,

      totalRows: 0,
      blockData: {},
    }
  },
  props: {
    dataBlockId: String,
    dataIndex: Number,
    currentDepth: Number,
  },
  methods: {
    updateViewportSize() {
      const table = this.$refs.datatable;
      this.viewportSize = {
        height: table.clientHeight,
        width: table.clientWidth,
      }
    },
    updateColumnWidths() {
      const widths = this.$refs.column.map((col) => {
        return col.clientWidth;
      });
      widths.push(...Array(this.colNames.length - widths.length).fill(90))
      this.columnWidths = widths;
    },
    updateColBlocksLefts() {
      let lefts = [];
      for (let i = 0; i < this.colBlocks; i++) {
        lefts.push(this.columnLefts[i*colBlockCount])
      }
      this.colBlockLefts = lefts;
    },
    scrollHandler: throttle(function(e) {
      const datatable = this.$refs.datatable;
      this.viewportPos = {
        left: datatable.scrollLeft,
        top: datatable.scrollTop,
      }
    }, 100),
    gotoNextDepth(index) {
      const firstColName = this.colNames[0];
      const firstCol = this.blockData[firstColName];

      const value = firstCol[0][index];

      this.$emit('gotoNextDepth', this.childIndex+index, firstColName, value);
    },
    startResize(e, colIndex) {
      this.resizing = colIndex;
      dragStart(e, this.moveResize, this.endResize, false, 'ew-resize');
    },
    endResize() {
      this.resizing = false
      this.updateColBlocksLefts();
    },
    moveResize({mouseDelta}) {
      const colIndex = this.resizing;
      const newWidth = Math.min(Math.max(this.columnWidths[colIndex] + mouseDelta.x, 90), 400);
      this.$set(this.columnWidths, colIndex, newWidth);
    },
    loadDataBlocks: debounce(function(blockIndexes) {
      blockIndexes.forEach(block => {
        const blockId = `${block.col}/${block.row}`;
        loadingBlocks.push(blockId);
        return runCommand({
          command: 'getBlockDataPart',
          args: [`"${this.dataBlockId}"`, this.dataIndex, 'FALSE', block.col, block.row],
        })
        .then(res => {
          loadingBlocks.splice(loadingBlocks.indexOf(blockId), 1);
          const data = res.$data.data.$data;
          const visibleBlocks = this.visibleBlocks;

          if (block.col >= visibleBlocks.start.left && block.col <= visibleBlocks.end.left
            && block.row >= visibleBlocks.start.top && block.row <= visibleBlocks.end.top) {
            for (let [colName, rowData] of Object.entries(data)) {
              let rowIndex = block.row - visibleBlocks.start.top;
              this.$set(this.blockData[colName], rowIndex, (Array.isArray(rowData)) ? rowData : [rowData]);
            }
          }
        })
      })
    }, 150, {trailing: true}),
  },
  computed: {
    dataBlockIdIndex() {
      return this.dataBlockId + this.dataIndex;
    },
    rowBlocks() {
      return Math.ceil(this.totalRows / rowBlockCount);
    },
    colBlocks() {
      return Math.ceil(this.colNames.length / colBlockCount);
    },
    supportedClassCols() {
      return this.colClasses.map((type) => supportedClasses.includes(type));
    },
    columnLefts() {
      let left = this.rownameColWidth;
      return [0, ...this.columnWidths.slice(0, -1)].map(width => left += width);
    },
    tableSize() {
      return {
        width: this.columnLefts[this.columnLefts.length-1]+this.columnWidths[this.columnWidths.length-1]
          + (this.childCount ? 60 : 0),
        height: (this.totalRows*33)+51,
      }
    },
    visibleRowNames() {
      const start = this.visibleBlocks.start.top*rowBlockCount+1;
      const end = Math.min((this.visibleBlocks.end.top+1)*rowBlockCount, this.totalRows);
      if (start > end) return;
      return generateArrayBetween(start, end);
    },
    visibleColNames() {
      const start = this.visibleBlocks.start.left*colBlockCount;
      const end = (this.visibleBlocks.end.left+1)*colBlockCount-1;
      return this.colNames.slice(start, end);
    },
    raw__visibleBlocks() {
      const overflow = 200;
      const viewport = {
        start: {
          left: Math.max(this.viewportPos.left - overflow, 0),
          top: Math.max(this.viewportPos.top - overflow, 0),
        },
        end: {
          left: Math.min(this.viewportPos.left + this.viewportSize.width + overflow, this.tableSize.width),
          top: Math.min(this.viewportPos.top + this.viewportSize.height + overflow, this.tableSize.height),
        }
      };

      const startTop = Math.floor(viewport.start.top / this.rowBlockHeight);
      const endTop = Math.floor(viewport.end.top / this.rowBlockHeight);

      let startLeft = 0;
      let endLeft = 0;

      let i = this.colBlockLefts.length-1;
      while (i >= 0) {
        if (this.colBlockLefts[i] < viewport.end.left) {
          endLeft = i;
          break;
        }
        i--;
      }
      while (i >= 0) {
        if (this.colBlockLefts[i] < viewport.start.left) {
          startLeft = i;
          break;
        }
        i--;
      }

      return {
        start: {
          left: startLeft,
          top: startTop,
        },
        end: {
          left: endLeft,
          top: endTop,
        },
      };
    },
  },
  watch: {
    raw__visibleBlocks(newBlocks, oldBlocks) {
      if ( newBlocks.start.top !== oldBlocks.start.top ||
           newBlocks.start.left !== oldBlocks.start.left ||
           newBlocks.end.top !== oldBlocks.end.top ||
           newBlocks.end.left !== oldBlocks.end.left ) {
        this.visibleBlocks = newBlocks;
      }
    },
    dataBlockIdIndex() {
      console.log('dataTable: ', this.dataBlockIdIndex);
      runCommand({
        command: 'getBlockDataPart',
        args: [`"${this.dataBlockId}"`, this.dataIndex],
      })
      .then((res) => {
        const data = res.$data;

        this.colNames = Array.isArray(data.colNames) ? data.colNames : [data.colNames];
        this.colClasses = Array.isArray(data.classes) ? data.classes : [data.classes];
        this.totalRows = data.rowCount;

        this.childCount = data.childCount;
        this.childIndex = data.childIndex;

        this.blockData = mapValues(data.data.$data, value => [(Array.isArray(value)) ? value : [value]]);

        this.columnWidths = [];

        this.$refs.datatable.scrollTop = 0;
        this.$refs.datatable.scrollLeft = 0;

        this.$nextTick(() => {
          this.rownameColWidth = this.$refs.rownames.clientWidth;

          this.updateColumnWidths();
          this.updateColBlocksLefts();

          this.$nextTick(this.updateViewportSize);
        });
      })
    },
    visibleBlocks(visibleBlocks, oldBlocks) {
      const newRowBlockIndexes = generateArrayBetween(visibleBlocks.start.top, visibleBlocks.end.top);
      const newColBlockIndexes = generateArrayBetween(visibleBlocks.start.left, visibleBlocks.end.left);
      
      const rowBlockOverlap = newRowBlockIndexes
        .map((rowIndex, index) => {
          if (rowIndex >= oldBlocks.start.top && rowIndex <= oldBlocks.end.top) {
            return rowIndex;
          }
        });

      let newBlockData = {};
      let blocksToLoad = [];

      newColBlockIndexes.forEach((colBlockIndex) => {
        let rowBlocksToLoad = [];

        generateArrayBetween(colBlockIndex*colBlockCount, ((colBlockIndex+1)*colBlockCount)-1)
          .map(colIndex => this.colNames[colIndex])
          .forEach(colName => {
            if (!colName) return;

            newBlockData[colName] = newRowBlockIndexes.map(rowBlockIndex => {
              if (rowBlockOverlap.includes(rowBlockIndex) && this.blockData[colName] 
                && !loadingBlocks.includes(`${colBlockIndex}/${rowBlockIndex}`)) {
                const data = this.blockData[colName][rowBlockIndex - oldBlocks.start.top];
                if (Array.isArray(data)) return data;
              }
              if (!rowBlocksToLoad.includes(rowBlockIndex)) rowBlocksToLoad.push(rowBlockIndex);
              return Math.min(this.totalRows - (rowBlockIndex*rowBlockCount), rowBlockCount);
            });

          })

        blocksToLoad.push(...rowBlocksToLoad.map(rowBlockIndex => ({row: rowBlockIndex, col: colBlockIndex}) ));
      });

      this.blockData = newBlockData;

      this.loadDataBlocks(blocksToLoad);
    }
  },
  mounted() {
    window.addEventListener('resize', this.updateViewportSize);
  },
  destroyed() {
    window.removeEventListener('resize', this.updateViewportSize);
  },
}
</script>

<style lang="stylus">
@import '../stylus/imports'

$blockColour = #45444B
$blockHeaderColour = #3E3D44

$rowBlockCount = 50

$lineColour = alpha(white, 10%)

$rowlines =
  background-image: linear-gradient(0deg, $lineColour 0px, $lineColour 1px, transparent 1px, transparent)
  background-size: 100% 33px
  background-position-y: 51px

.datatable
  font-weight: 300
  overflow: auto
  width: 100%
  //border-bottom: 1px solid rgba(255,255,255,0.4)

.datatable-inner
  position: relative
  min-width: 100%
  display: flex
  {$rowlines}

.datatable-column
  // border-left: 1px solid rgba(255,255,255,0.4)
  min-width: 90px
  max-width: 400px
  width: min-content
  height: 100%
  position: absolute
  top: 0px

.datatable-rowblock
  margin-bottom: -33px * $rowBlockCount
  position: relative

.datatable-nopreview
  opacity: 0.6

  .datatable-item
    font-size: 90%
    font-style: italic

.datatable-item
  font-size: 15px

.datatable-item, .datatable-heading
  height: 33px
  line-height: 32px
  padding: 0 22px
  //border-bottom: 1px solid rgba(255,255,255,0.1)
  white-space: nowrap
  box-sizing: border-box
  max-width: 100%
  overflow: hidden

.datatable-item-na
  font-size: 90%
  font-style: italic
  color: alpha(white, 0.3)

.datatable-heading
  height: 51px
  font-weight: 500
  border-bottom: 1px solid rgba(255,255,255,0.4)
  line-height: 20px
  padding-top: 5px
  position: sticky
  overflow: visible
  top: 0px
  background: $blockColour
  z-index: 1

  .datatable-heading-inner
    position: absolute
    height: 100%
    left: 0
    right: 5px
    padding: 0 22px 0 17px
    overflow: hidden

  span
    font-size: 10px
    text-transform: uppercase
    font-style: italic
    font-weight: 300

.datatable-heading-resize
  position: absolute
  top: 0
  bottom: 0
  width: 1px
  right: 0px
  background: alpha(white, 0.4)
  border: 4px solid transparent
  border-top: none
  border-bottom: none
  background-clip: padding-box
  opacity: 0
  cursor: ew-resize

  .datatable-heading-showresize &
    opacity: 0.5

  &:hover
    border-color: alpha(white, 0.05)
    opacity: 1

.datatable-rownames
  border-right: 1px solid rgba(255,255,255,0.4)
  font-style: italic
  font-weight: 500
  position: sticky
  left: 0px
  background-color: $blockColour
  z-index: 2
  min-width: auto
  {$rowlines}

  .datatable-item, .datatable-heading
    padding: 0 10px
    font-size: 14px
    text-align: center

  .datatable-heading
    color: transparent

.datatable-spacer
  width: 100%

.datatable-nextdepth
  background: alpha($blockHeaderColour, 0.65)
  border-left: 1px solid rgba(255,255,255,0.4)
  min-width: auto
  width: 60px
  position: sticky
  top: 0px
  margin-left: auto
  right: 0px
  background-color: $blockColour
  z-index: 2
  {$rowlines}

  .datatable-heading
    padding: 5px 10px
    line-height: 20px
    height: 51px
    box-sizing: border-box
    text-transform: uppercase
    font-style: italic
    font-weight: 400
    font-size: 12px
    color: rgba(255,255,255,0.8)
    text-align: center

    b
      font-size: 14px

  .datatable-item
    position: relative
    cursor: pointer
    padding: 0

    &:hover
      background: rgba(0,0,0,0.2)

    svg
      position: absolute
      left: 50%
      top: 50%
      margin-left: -5px
      margin-top: -8px
      fill: none
      stroke: #fff
      stroke-width: 1px
</style>
