<template>
  <ui-dialog ref="errorDialog" title="Problem loading file" :actions="['OK']">
    <div style="margin-bottom: -15px">
      {{ message }}
      <div class="file-error-details" @click="detailsOpen = !detailsOpen">
        Details <icon class="file-error-details-arrow" :class="{'file-error-details-arrow-open': detailsOpen}" name="keyboard_arrow_up"></icon>
      </div>
      <transition name="error-details">
        <pre v-if="detailsOpen" class="file-error-details-box">{{details}}</pre>
      </transition>
    </div>
  </ui-dialog>
</template>

<script>
  import uiDialog from '../ui-components/dialog.vue'
  import icon from '../ui-components/icon.vue'

  import '../icons/keyboard_arrow_up.svg'

  const errors = {
    'ENOENT': 'File does not exist',
    'CORRUPT': 'File is corrupt or not a valid R-FLOW file',
    'NOTRFLOW': 'File is not a supported .rflow filetype'
  }

  export default {
    data() {
      return {
        message: 'Unknown error',
        details: '',
        detailsOpen: false
      }
    },
    components: {uiDialog, icon},
    methods: {
      handleFileError(err) {
        this.details = err.err;

        this.message = (errors[err.type]) ? errors[err.type] : 'Unknown error'

        this.$refs.errorDialog.$emit('open');
      }
    },
    created() {
      this.$root.$on('fileLoadingError', this.handleFileError);
    }
  }
</script>

<style lang="stylus">
  .file-error-details {
    margin-top: 15px
    font-size: 14px
    font-weight: 500
    width: 400px
    opacity: 0.7
    cursor: pointer
    text-transform: uppercase

    &:hover {
      opacity: 1
    }
  }
  .file-error-details-arrow {
    margin: -6px -3px
    transform: scale(1,-1)
    opacity: 0.6
  }
  .file-error-details-arrow-open {
    transform: scale(1,-1) rotate(90deg)
  }
  .file-error-details-box {
    border: 1px solid rgba(255,255,255,0.5)
    border-radius: 3px
    background-color: rgba(0,0,0,0.4)
    width: 400px
    box-sizing: border-box
    padding: 10px
    overflow: auto
    margin-top: 5px
    margin-bottom: 0
    font-size: 13px
    opacity: 0.8
    max-height: 500px
    transition: max-height 0.4s, opacity 0.4s
  }
  .error-details-enter, .error-details-leave-active {
    max-height: 0px
    opacity: 0
  }
</style>
