<template>
  <transition name="fullscreen-fade" @after-leave="$root.$emit('fullscreenViewClosed')">
    <div class="fullscreen-view" v-if="isOpen">
      <div class="fullscreen-view-backdrop"></div>
      <component :is="component" v-bind="componentProps" @close="isOpen = false"></component>
    </div>
  </transition>
</template>

<script>
  export default {
    data() {
      return {
        isOpen: false,
        component: null,
        componentProps: null
      }
    },
    methods: {
      open(component, componentProps) {
        this.component = component;
        this.componentProps = componentProps;
        this.isOpen = true;
      }
    },
    created() {
      this.$root.$on('openFullscreenView', this.open)
    }
  }
</script>

<style lang="stylus">
  .fullscreen-view {
    position: absolute
    top: 33px
    left: 0
    right: 0
    bottom: 0
    z-index: 1
    cursor: default

    transition: opacity 0.2s linear
  }

  .fullscreen-view-backdrop {
    position: absolute
    height: 100%
    width: 100%
    background: rgba(0,0,0,0.7)
    backdrop-filter: blur(10px)
    transition: opacity 0.2s ease-out
  }

  .fullscreen-fade-enter, .fullscreen-fade-leave-active {
    opacity: 0.99

    .fullscreen-view-backdrop {
      opacity: 0
      transition-timing-function: ease-in
    }
  }
</style>
