<template>
  <transition name="fullscreen-portal-fade" @after-leave="$root.$emit('fullscreenViewClosed')">
    <div class="fullscreen-portal-view" v-if="isOpen">
      <div class="fullscreen-portal-view-backdrop" @click="backgroundClick"></div>
      <portal-target :name="activePortal" slim />
    </div>
  </transition>
</template>

<script>
  export default {
    data() {
      return {
        isOpen: false,
        activePortal: '',
        clickBackgroundToClose: true,
      }
    },
    methods: {
      open(portalName, clickBackgroundToClose = true) {
        this.activePortal = portalName;
        this.clickBackgroundToClose = clickBackgroundToClose;
        this.isOpen = true;
      },
      close() {
        this.isOpen = false;
        this.activePortal = '';
      },
      backgroundClick() {
        if (this.clickBackgroundToClose) this.close();
      }
    },
    created() {
      this.$root.$on('openFullscreenPortalView', this.open)
      this.$root.$on('closeFullscreenPortalView', this.close)
    },
  }
</script>

<style lang="stylus">
  .fullscreen-portal-view {
    position: absolute
    top: 33px
    left: 0
    right: 0
    bottom: 0
    z-index: 1
    cursor: default

    transition: opacity 0.2s linear
  }

  .fullscreen-portal-view-backdrop {
    position: absolute
    height: 100%
    width: 100%
    background: rgba(0,0,0,0.7)
    backdrop-filter: blur(10px)
    transition: opacity 0.2s ease-out
  }

  .fullscreen-portal-fade-enter, .fullscreen-portal-fade-leave-active {
    opacity: 0.99

    .fullscreen-portal-view-backdrop {
      opacity: 0
      transition-timing-function: ease-in
    }
  }
</style>
