<template>

  <div class="infinite-canvas" :style="{
      width: canvasSize.width+'px',
      height: canvasSize.height+'px',
      transform: `translate(${this.canvasPos.x}px, ${this.canvasPos.y}px)`
    }"
    @mousedown="dragStart">
    <slot></slot>
  </div>

  <!--
  <div class="overscroll-highlights">
    <svg class="overscroll-left" viewBox="0 0 50 100" preserveAspectRatio="none" :style="{opacity: overscroll.left/700}">
        <path :d="'M 0,-35 Q'+overscroll.left+',50 0,135'"
         fill="#fff" />
    </svg>
    <svg class="overscroll-top" viewBox="0 0 100 50" preserveAspectRatio="none" :style="{opacity: overscroll.top/700}">
        <path :d="'M -35,0 Q50,'+overscroll.top+' 135,0'"
         fill="#fff" />
    </svg>
    <svg class="overscroll-right" viewBox="0 0 50 100" preserveAspectRatio="none" :style="{opacity: overscroll.right/700}">
        <path :d="'M 50,-35 Q'+(50-overscroll.right)+',50 50,135'"
         fill="#fff" />
    </svg>
    <svg class="overscroll-bottom" viewBox="0 0 100 50" preserveAspectRatio="none" :style="{opacity: overscroll.bottom/700}">
        <path :d="'M -35,50 Q50,'+(50-overscroll.bottom)+' 135,50'"
         fill="#fff" />
    </svg>
  </div> -->

</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import dragStart from '../utils/drag.js'
  import {tween} from '../vuex/utils.js'

  var friction = 0.05;

  export default {
    methods: {
      dragStart(e) {
        if (e.button === 0) {
          tween.cancel('canvasPos');
          dragStart(e, this.dragUpdate, this.dragEnd, false, '-webkit-grabbing');
        }
        else if (e.button === 2) {
          this.$root.$emit('canvasRightMouseDown', e);
        }
      },
      dragUpdate({mouseDelta}) {
        this.canvasMoveTo({
          pos: mouseDelta,
          relative: true,
          silent: true
        });
      },
      dragEnd({mouseVelocity}) {
        if (Math.abs(mouseVelocity.x) > 0.1 || Math.abs(mouseVelocity.y) > 0.1) {
          var dragEndPos = {
            x: this.canvasPos.x,
            y: this.canvasPos.y
          },
          dragScrollOffset = {
            x: dragEndPos.x + (mouseVelocity.x*friction),
            y: dragEndPos.y + (mouseVelocity.y*friction)
          };
          tween.start('canvasPos', {
            type: 'expoOut',
            duration: 400,
            from: dragEndPos,
            to: dragScrollOffset
          }, this.canvasTweenStep);
        }
      },
      canvasTweenStep({value}) {
        this.canvasMoveTo({
          pos: value,
          silent: true
        });
      },
      ...mapActions([
        'canvasMoveTo'
      ])
    },
    computed: {
      ...mapGetters([
        'canvasSize',
        'canvasPos'
      ])
    }
  }
</script>

<style lang="stylus" scoped>
  @import '../stylus/imports'

  .infinite-canvas {
    position: absolute
    left: 0
    right: 0
    background-image: linear-gradient(to left, #383838 0px, #383838 1px, transparent 1px, transparent 100%), linear-gradient(to top, #383838 0px, #383838 1px, transparent 1px, transparent 100%)
    background-size: 40px 40px
    cursor: grab
    will-change: transform
    height: 200px

    &.canvas-mousepressed {
      cursor: default

      &.canvas-dragging {
        cursor: grabbing
      }
    }
  }

  .overscroll-highlights {
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    pointer-events: none
    //opacity: 0.15

    .overscroll-left, .overscroll-right {
      position: absolute
      height: 100%
      width: 50px
      top: 0
      left: 0
    }
    .overscroll-right {
      left: auto
      right: 0
    }
    .overscroll-top, .overscroll-bottom {
      position: absolute
      height: 50px
      width: 100%
      top: 0
      left: 0
    }
    .overscroll-bottom {
      top: auto
      bottom: 0
    }
  }
</style>
