<template>
  <div class="minimap" :class="{active: active}" :style="{
      width: minimapSize.width+'px',
      height: minimapSize.height+'px'
    }">

    <div class="minimap-origin" :style="{
      top: (canvasOrigin.y*ratio)+'px',
      left: (canvasOrigin.x*ratio)+'px'
    }">

      <div class="minimap-block" v-for="block in blocks"
        :style="{
          width: (block.size.width*ratio)+'px',
          height: (block.size.height*ratio)+'px',
          left: (block.pos.x*ratio)+'px',
          top: (block.pos.y*ratio)+'px'
        }"
        :class="{selected: block.selected}"
      ></div>

    </div>

    <div class="minimap-screen" :style="{
        width: minimapScreenSize.width+'px',
        height: minimapScreenSize.height+'px',
        transform: `translate(${this.minimapScreenSize.left}px, ${this.minimapScreenSize.top}px)`
      }"
      @mousedown="dragStart">

    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  import dragStart from '../utils/drag.js';

  export default {
    data() {
      return {
        active: false,
        initialMapPos: {
          x: 0,
          y: 0
        }
      }
    },
    methods: {
      dragStart(e) {
        if (e.button === 0) {
          this.active = true;
          this.initialMapPos = {
            x: this.canvasPos.x,
            y: this.canvasPos.y
          };
          dragStart(e, this.dragUpdate, this.dragEnd, false, '-webkit-grabbing');
        }
      },
      dragUpdate({mouseTotalDelta}) {
        this.canvasMoveTo({
          pos: {
            x: this.initialMapPos.x - (mouseTotalDelta.x/this.ratio),
            y: this.initialMapPos.y - (mouseTotalDelta.y/this.ratio)
          },
          silent: true
        });
      },
      dragEnd() {
        this.active = false;
      },
      ...mapActions([
        'canvasMoveTo'
      ])
    },
    computed: {
      ratio() {
        return 140/this.canvasSize.height;
      },
      minimapSize() {
        return {
          height: 140,
          width: this.canvasSize.width * this.ratio
        }
      },
      minimapScreenSize() {
        return {
          height: this.screenSize.height * this.ratio,
          width: this.screenSize.width * this.ratio,
          top: -this.canvasPos.y * this.ratio,
          left: -this.canvasPos.x * this.ratio
        }
      },
      ...mapGetters([
        'canvasSize',
        'screenSize',
        'canvasPos',
        'canvasOrigin',
        'blocks'
      ])
    }
  }
</script>

<style lang="stylus" scoped>
  @import '../stylus/imports'

  .minimap {
    position: absolute
    left: 20px
    bottom: 20px
    border: 1px solid #fff
    background: rgba(0,0,0,0.5)
    opacity: 0.1
    box-sizing: border-box
    overflow: hidden
    //pointer-events: none

    &:hover, &.active {
      opacity: 0.3
    }
  }
  .minimap-screen {
    position: absolute;
    border: 1px solid rgba(255,255,255,0.8)
    box-sizing: border-box
    margin: -1px 0 0 -1px
    box-shadow 0 0 0 500px rgba(0,0,0,0.7)
    will-change: transform
    cursor: grab
  }

  .minimap-origin {
    position: absolute
  }

  .minimap-block {
    position: absolute
    background: rgba(255,255,255,0.8)
    box-sizing: border-box

    &.selected {
      border: 1px solid $accentColour
      background: alpha($accentColour, 0.5)
    }
  }
</style>
