<template>
  <div class="note" :style="[positionStyle]">
    <div class="note-header">
      {{ note.preview }}
      <div class="note-header-edit" @mousedown.stop @click="openNoteEditor">
        <icon name="edit" />
      </div>
    </div>

    <portal :to="portalId">
      <note-editor :note="note" />
    </portal>
  </div>
</template>

<script>
import icon from '../ui-components/icon.vue'
import noteEditor from './noteEditor.vue'

import '../icons/edit.svg'

import genId from '../../shared/genid.js'

const margin = 15;
const topMargin = margin+32;

export default {
  components: { noteEditor, icon },
  data() {
    return {
      portalId: genId(),
    };
  },
  props: {
    note: Object,
  },
  computed: {
    positionStyle() {
      const bb = this.boundingBox;

      return {
        top: ( bb.top - topMargin )+'px',
        left: ( bb.left - margin )+'px',
        height: ( bb.bottom - bb.top + margin+topMargin )+'px',
        width: ( bb.right - bb.left + margin*2 )+'px',
      };
    },
    boundingBox() {
      const blocks = this.note.blocks;
      let left = [], right = [], top = [], bottom = [];

      for (let block of blocks) {
        let pos = block.renderPos;
        let size = block.size;

        left.push(pos.x);
        right.push(pos.x+size.width);
        top.push(pos.y);
        bottom.push(pos.y+size.height);
      }

      return {
        top: Math.min(...top),
        left: Math.min(...left),
        right: Math.max(...right),
        bottom: Math.max(...bottom),
      };
    },
  },
  methods: {
    openNoteEditor() {
      this.$root.$emit('openFullscreenPortalView', this.portalId, false);
    },
  },
  watch: {
    'note.blocks.length': function(len) {
      if (len === 0) {
        this.$store.commit('REMOVE_NOTE', {
          note: this.note,
        });
      }
    },
  },
  created() {
    if (!this.note.contents) {
      this.openNoteEditor();
    }
  },
}
</script>

<style lang="stylus" scoped>
  @import '../stylus/imports'

  .note
    position: absolute
    border: 1px solid alpha($primaryColour, 40%)
    border-radius: 2px
    background: alpha($primaryColour, 3%)
    opacity: 0.7
    color: #fff

  .note-header
    position: absolute
    top: 0
    left: 0
    right: 0
    height: 32px
    line-height: 32px
    padding: 0 10px
    background: alpha(black, 18%)
    font-size: 14px
    font-weight: 300
    padding-right: 32px
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden

    &:before
      content: 'NOTE'
      padding-right: 8px
      margin-right: 8px
      font-size: 12px
      border-right: 1px solid #fff
      opacity: 0.8

  .note-header-edit
    position: absolute
    top: 0
    right: 0
    height: 32px
    width: 32px
    cursor: pointer
    opacity: 0.7

    &:hover
      opacity: 1
      background: alpha(black, 0.2)

    svg
      width: 18px
      height: 18px
      margin: 7px
</style>
