<template>
  <div>
    <div class="note-editor-header">
      Note editor
      <ui-button raised :disabled="saveDisabled"
        :theme="saveDisabled?'light':'primary'"
        @click="closeEditor">Done editing</ui-button>
      <ui-button raised theme="accent" @click="deleteNote">Delete note</ui-button>
    </div>
    <div class="note-editor">
      <div ref="quill"></div>
    </div>
  </div>
</template>

<script>
import { Quill, quillOptions } from '../utils/quill.js'

export default {
  data() {
    return {
      quill: null,
    };
  },
  props: {
    note: Object,
  },
  methods: {
    updatePreview(preview) {
      this.$store.commit('UPDATE_NOTE_PREVIEW', {
        note: this.note,
        preview,
      });
    },
    closeEditor() {
      const contents = JSON.stringify(this.quill.getContents());
      this.$store.commit('UPDATE_NOTE_CONTENTS', {
        note: this.note,
        contents,
      });
      this.$root.$emit('closeFullscreenPortalView');
    },
    deleteNote() {
      this.$store.commit('REMOVE_NOTE', {
        note: this.note,
      });
      this.$root.$emit('closeFullscreenPortalView');
    },
  },
  computed: {
    notePreview: {
      get() {
        return this.note.preview;
      },
      set(val) {
        this.updatePreview(val);
      }
    },
    saveDisabled() {
      return !(this.notePreview.length > 0);
    },
  },
  mounted() {
    this.quill = new Quill(this.$refs.quill, quillOptions);

    if (this.note.contents) {
      this.quill.setContents(JSON.parse(this.note.contents));
    }

    this.quill.on('text-change', () => {
      this.notePreview = this.quill.getText(0, 50).split('\n')[0];
    })
  },
}
</script>

<style lang="stylus">
@import "~quill/dist/quill.core.css"
@import "~quill/dist/quill.bubble.css"

.note-editor-header
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  top: 16px
  font-size: 17px

.note-editor
  position: absolute
  top: 50%
  left: 50%
  width: 700px
  height: 400px

  transform: translate(-50%, -50%)
  background: alpha(#45444B, 0.6)
  border-radius: 3px
  padding: 8px

  .ql-container
    font-size: 16px
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif
    font-weight: 300

  .ql-editor
    line-height: 1.55

    strong
      font-weight: 500

    h1
      font-size: 1.5em
      font-weight: 600

    h2
      font-size: 1.2em
      font-weight: 500

    ol, ul
      padding-left: 6px

    &.ql-blank:before
      color: inherit
      opacity: 0.4

  .ql-bubble .ql-tooltip
    filter: drop-shadow(0 1px 2px rgba(0,0,0,0.3))
</style>
