<template>
<transition name="fadeshrink">
  <div>

    <svg class="pipe-line" :class="{dehighlighted: dehighlighted}" :viewBox="[0, 0, viewBox.width, viewBox.height].join(' ')"
      :style="{top: viewBox.y, left: viewBox.x, height: viewBox.height, width: viewBox.width, zIndex: pipe.order*5-2}">
        <path class="pipe-path" :d="path" />
    </svg>

    <svg viewBox="-18 0 18 13" class="pipe-startplug" :class="{dragging: dragging === 'start', dehighlighted: dehighlighted}" @mouseover="mouseover($event, true)" @mouseout="mouseout($event, true)" @mousedown.stop="dragStart($event, 'start')"
      :style="{
        top: startPos.y+'px',
        left: startPos.x+'px',
        zIndex: plugZIndex('startBlock')
      }">
      <path d="M -2,0 H -15 l -3,6.5 l 3,6.5 H -2 A -2,2 0 0,0 0,11 V 2 A -2,2 0 0,0 -2,0" />
    </svg>

    <svg viewBox="0 0 18 13" class="pipe-endplug" :class="{dragging: dragging === 'end', dehighlighted: dehighlighted}" @mouseover="mouseover" @mouseout="mouseout" @mousedown.stop="dragStart($event, 'end')"
      :style="{
        top: endPos.y+'px',
        left: endPos.x+'px',
        zIndex: plugZIndex('endBlock')
      }">
      <path d="M 2,0 H 15 l 3,6.5 l -3,6.5 H 2 A 2,2 0 0,1 0,11 V 2 A 2,2 0 0,1 2,0" />
    </svg>

  </div>
</transition>
</template>

<script>
  import {mapActions} from 'vuex'
  import autoscrollDragStart from '../utils/autoscroll_drag.js'
  import {tween, getBlockLineage} from '../vuex/utils.js'

  const friction = 0.02,
        yBuffer = 5,
        snapRadius = 20;

  var validSockets = [],
      plugPos,
      snappedTo = -1;

  export default {
    props: {
      pipeId: String,
      pipe: Object
    },
    data() {
      return {
        dragging: ''
      }
    },
    methods: {
      plugZIndex(block) {
        return Math.max(
          (this[block]) ? (this[block].order*5)+2 : 0,
          this.pipe.order*5-1
        )
      },
      mouseover(e, doEmit) {
        if (doEmit && this.pipe.start.block) {
          this.$root.$emit('plugover-'+this.pipe.start.block+'-'+this.pipe.start.socket);
        }
      },
      mouseout(e, doEmit) {
        if (doEmit && this.pipe.start.block) {
          this.$root.$emit('plugout-'+this.pipe.start.block+'-'+this.pipe.start.socket);
        }
      },
      dragStart(e, pipePlug) {
        if (e.button === 0) {
          if (this.pipe[pipePlug].block) {
            this.detachPipe({
              pipeId: this.pipeId,
              pipePlug
            })
          }
          this.dragging = pipePlug;
          this.setPipeOrder({
            pipeId: this.pipeId,
            order: this.$store.getters.topBlockOrder + 2
          })
          this.setPipeHighlight({
            pipeId: this.pipeId,
            highlighted: true
          });

          validSockets = this.getValidSockets();

          plugPos = {...this.pipe[this.dragging].pos};
          this.snapToSockets();

          autoscrollDragStart(e, this.dragUpdate, this.dragEnd, '-webkit-grabbing');
        }
      },
      dragUpdate({mouseDelta, canvasDelta}) {
        plugPos.x += mouseDelta.x - canvasDelta.x;
        plugPos.y += mouseDelta.y - canvasDelta.y;

        this.snapToSockets();

        this.updatePlugPos({
          pipeId: this.pipeId,
          pipePlug: this.dragging,
          pos: (snappedTo !== -1) ? validSockets[snappedTo].pos : {...plugPos}
        });
      },
      dragEnd({mouseVelocity}) {
        this.setPipeOrder({
          pipeId: this.pipeId,
          order: 1
        })
        this.setPipeHighlight({
          pipeId: this.pipeId,
          highlighted: false
        });

        this.clearSocketFilters();

        if (snappedTo !== -1) {
          let snappedSocket = validSockets[snappedTo];

          this.$root.$emit(`pipeConnected-${snappedSocket.blockId}-${snappedSocket.socketType.slice(0, -7)}-${snappedSocket.socketId}`, this.pipeId);
        } else {
          if (!this.pipe.start.block && !this.pipe.end.block) {
            this.removePipe({
              pipeId: this.pipeId
            })
          }
          else if (this.dragging === 'end') {
            this.$root.$emit('pipeFreeEndDropped', this.pipeId, this.pipe, this.startBlock.outsockets[this.pipe.start.socket]);
          }
        }

        this.dragging = '';
      },
      snapToSockets() {
        var bestSnapDist = snapRadius;

        snappedTo = -1;

        for (var i = 0, len = validSockets.length; i < len; i++) {
          let socket = validSockets[i],
              dist = Math.hypot(socket.pos.x-plugPos.x, socket.pos.y-plugPos.y);
          if (dist < bestSnapDist) {
            bestSnapDist = dist;
            snappedTo = i;
          }
        }
      },
      getValidSockets() {
        let socketType = (this.dragging === 'start') ? 'outsockets' : 'insockets',
            connectedBlockId = this.pipe.start.block || this.pipe.end.block,
            invalidBlocks = (connectedBlockId) ? [connectedBlockId, ...getBlockLineage(
              this.$store,
              (this.dragging === 'start') ? 'descendants' : 'ancestors',
              connectedBlockId
            )] : [],
            blocks = this.$store.getters.blocks,
            connectedSocketType = (connectedBlockId) ? blocks[connectedBlockId][(this.dragging === 'start') ? 'insockets' : 'outsockets'][this.pipe.start.socket || this.pipe.end.socket].type : null;

        this.setSocketFilters({
          invalidBlocks,
          socketType,
          types: (connectedSocketType === null) ? [] : (Array.isArray(connectedSocketType) ? connectedSocketType : [connectedSocketType])
        });

        const validSockets = Object.keys(blocks).reduce((socketList, blockId) => {
          if (!invalidBlocks.includes(blockId)) {
            const block = blocks[blockId];
            socketList.push(...block.getActiveSocketPositions())
          }
          return socketList;
        }, []);

        return validSockets;
      },
      ...mapActions([
        'detachPipe',
        'updatePlugPos',
        'setPipeOrder',
        'removePipe',
        'setPipeHighlight',
        'setSocketFilters',
        'clearSocketFilters',
      ])
    },
    computed: {
      dehighlighted() {
        return !(this.pipe.highlighted || this.$store.getters.noPipesHighlighted)
      },
      startBlock() {
        return this.$store.getters.blocks[this.pipe.start.block]
      },
      endBlock() {
        return this.$store.getters.blocks[this.pipe.end.block]
      },
      startPos() {
        if (this.startBlock) {
          let socket = this.startBlock.outsockets[this.pipe.start.socket];
          return {
            x: this.startBlock.renderPos.x + this.startBlock.size.width,
            y: this.startBlock.renderPos.y + socket.ypos + socket.pipes[this.pipeId]
          }
        }
        return this.pipe.start.pos;
      },
      endPos() {
        if (this.endBlock) {
          let socket = this.endBlock.insockets[this.pipe.end.socket];
          return {
            x: this.endBlock.renderPos.x,
            y: this.endBlock.renderPos.y + socket.ypos + socket.pipes[this.pipeId]
          }
        }
        return this.pipe.end.pos;
      },
      viewBox: function() {
        var pathPoints = this.pathPoints,
            points = {
              x: [pathPoints.start.x, pathPoints.startHandle.x, pathPoints.end.x, pathPoints.endHandle.x],
              y: [pathPoints.start.y, pathPoints.startHandle.y, pathPoints.end.y, pathPoints.endHandle.y]
            },
            left = Math.min(...points.x),
            top = Math.min(...points.y),
            right = Math.max(...points.x),
            bottom = Math.max(...points.y);

        return {
          width: Math.abs(right-left),
          height: Math.abs(bottom-top) + yBuffer*2,
          x: this.startPos.x + left,
          y: this.startPos.y + top - yBuffer,
          offset: {
            x: -left,
            y: -top + yBuffer
          }
        }
      },
      overshoot: function() {
        var diff = (this.startPos.x - this.endPos.x);
        return 50 + ((diff > 0) ? diff/4 : -diff/7);
      },
      pathPoints: function() {
        return {
          start: {
            x: 0,
            y: 0
          },
          startHandle: {
            x: this.overshoot,
            y: 0
          },
          end: {
            x: this.endPos.x - this.startPos.x,
            y: this.endPos.y - this.startPos.y
          },
          endHandle: {
            x: (this.endPos.x - this.startPos.x) - this.overshoot,
            y: this.endPos.y - this.startPos.y
          }
        }
      },
      path: function() {
        var offset = this.viewBox.offset;
        var points = this.pathPoints;
        var xypair = function(point) {
          return `${point.x+offset.x},${point.y+offset.y}`;
        }
        return `M ${xypair(points.start)} C ${xypair(points.startHandle)} ${xypair(points.endHandle)} ${xypair(points.end)}`;
      }
    },
    created() {
      this.$root.$on('pipeDragStart-'+this.pipeId, this.dragStart);
    },
    beforeDestroy() {
      this.$el.style.transformOrigin = `${this.viewBox.x+this.viewBox.width/2}px ${this.viewBox.y+this.viewBox.height/2}px`;
    },
  }
</script>

<style lang="stylus" scoped>
  @import '../stylus/imports'

  $plugColour = #b5b5b5

  .pipe-startplug, .pipe-endplug {
    position: absolute
    height: 13px
    width: 18px
    fill: $plugColour
    transform: translate(-3px, -7px)
    filter: drop-shadow(0 1px 1.5px rgba(0,0,0,0.12)) drop-shadow(0 1px 1px rgba(0,0,0,0.24))

    &.dragging {
      fill: lighten($plugColour, 35%)
      filter: drop-shadow(0 3px 3px rgba(0,0,0,0.16)) drop-shadow(0 3px 3px rgba(0,0,0,0.23))
    }

    &.dehighlighted {
      fill: darken($plugColour, 30%)
    }
  }
  .pipe-startplug {
    transform: translate(-15px, -7px)
  }
  .pipe-line {
    position: absolute
    opacity: 0.9
    //filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.5))
    pointer-events: none
    transition: opacity 0.15s ease-out

    &.dehighlighted {
      opacity: 0.25
      transition-delay: 0.05s
    }
  }
  .pipe-path {
    stroke: #fff
    fill: none
    stroke-width: 8
  }

  .fadeshrink-leave-active {
    transition-property: opacity, transform
    transition-duration: 0.25s
    transition-timing-function: ease-out
    opacity: 0
    transform: scale(0.85)
  }
</style>
