<template>
<div>
<transition name="expand">
  <div v-if="selectedBlocks.length" class="selection-options">
    <div class="selection-options-bar">
    <div class="selection-count"><span class="selection-number">{{ selectedBlocks.length }}</span>&nbsp;block{{(selectedBlocks.length === 1) ? '' : 's'}} selected</div>
    <ui-button class="selection-button" theme="primary" left-icon="add_list" style="margin-right: 60px" @click="addNoteAndDeselect">Add Note</ui-button>
    <ui-button class="selection-button" theme="accent" left-icon="select_all" @click="deselect">Deselect All</ui-button>
    <ui-button class="selection-button" theme="accent" left-icon="delete" @click="confirmDelete">Delete</ui-button>
  </div>
  </div>
</transition>
  <ui-dialog ref="deleteDialog" title="Confirm delete" :actions="['Cancel', 'Delete']" @clicked-delete="deleteBlocks">
    Deletion of these blocks (and associated notes) cannot be undone
  </ui-dialog>
</div>
</template>

<script>
  import {mapGetters, mapActions} from 'vuex'

  import uiButton from '../ui-components/button.vue'
  import uiDialog from '../ui-components/dialog.vue'
  import '../icons/delete.svg'
  import '../icons/select_all.svg'
  import '../icons/add_list.svg'

  export default {
    components: { uiButton, uiDialog },
    methods: {
      deselect() {
        var selectedBlocks = [...this.selectedBlocks];
        for (var i = 0, len = selectedBlocks.length; i < len; i++) {
          this.$store.dispatch('setBlockSelected', {
            blockId: selectedBlocks[i],
            selected: false
          })
        }
      },
      confirmDelete() {
        this.$refs.deleteDialog.$emit('open');
      },
      deleteBlocks() {
        let blocks = [...this.selectedBlocks];

        for (let blockId of blocks) {
          this.removeBlock({blockId});
        }
      },
      addNoteAndDeselect() {
        this.addNote();
        this.deselect();
      },
      ...mapActions([
        'removeBlock',
        'addNote',
      ])
    },
    computed: mapGetters([
      'selectedBlocks'
    ])
  }
</script>

<style lang="stylus" scoped>
  @import '../stylus/imports'

  .selection-options {
    position: absolute
    top: 33px
    left: 0px
    right: 0px
    height: 35px
    z-index: 1000

    &:after {
      content: ''
      position: absolute
      top: 0px
      left: 0px
      right: 0px
      height: 5px
      background: linear-gradient(rgba(0,0,0,0.25), transparent)
    }
  }

  .selection-options-bar {
    position: absolute
    width: 100%
    height: 100%
    color: $secondaryLightTextColour
    background-color: alpha(#262626, 0.6)
    display: flex
    align-items: stretch
    font-size: 15px
    backdrop-filter: blur(10px)

    .selection-button {
      border-radius: 0
      margin-top: 0
      margin-bottom: 0
    }
  }
  .selection-count {
    flex-grow: 1
    display: flex
    align-items: center
    justify-content: center
    font-weight: 400

    .selection-number {
      font-weight: 500
    }
  }

  .expand-enter-active, .expand-leave-active {
    transition: opacity 0.3s ease-out
    .selection-options-bar {
      transition: transform 0.3s ease-out
    }
  }
  .expand-enter, .expand-leave-active {
    opacity: 0
    .selection-options-bar {
      transform: translateY(-100%)
    }
  }
</style>
