<template>
  <div :class="['block-'+type+'socket', {expanded: expanded, dehighlighted: dehighlighted, isdfchild: isDataframeChild}]"
  :style="{
    top: ypos+'px'
  }">
    <div class="block-socket-back" :class="{'block-socket-back-expanded': expanded, 'block-socket-back-overflow': overflow}" :style="{background: datatypeColour}"></div>
    <template v-if="socketName">
      {{ socketName }}<span style="opacity: 0.7">{{ (type === 'out' || socket.optional) ? '' : ' *' }}</span>
    </template>
    <template v-else>
      <span class="block-socket-overflow-more" @click="openOverflowMenu"><i>more</i>&nbsp;⌵</span>
    </template>
    <div v-if="isDataframeChild" class="block-socket-dfchild" :class="{'block-socket-dfchild-first': isfirstdfchild}"></div>
    <div class="block-socket-dot" :class="{'block-socket-disabled': newPipeDisabled}" @mousedown="createNewPipe">
      <svg viewBox="0 0 7 7">
        <line x1="0" y1="3.5" x2="7" y2="3.5" stroke="black" stroke-width="1"/>
        <line x1="3.5" y1="0" x2="3.5" y2="7" stroke="black" stroke-width="1"/>
      </svg>
    </div>
    <div v-if="type === 'out'" class="block-outsocket-expand" :class="{shadow: expanded}" :style="{
      top: top+'px',
      height: height+'px',
      backgroundColor: datatypeColour
    }"
    @mouseenter="mouseenter" @mouseleave="mouseleave"></div>
    
    <transition name="overflow-menu">
      <div v-if="overflowMenuOpen" class="block-socket-overflow" :class="{'block-socket-overflow-filtered': !!overflowFilter}">
        <div v-for="(socket, socketId) in filteredOverflowSockets" :key="socketId" class="block-socket-overflow-socket block-outsocket"
        :class="{isdfchild: socket.parentDataframe}" @click="selectOverflowSocket(socketId)">
          <div class="block-socket-back" :style="{background: getSocketColour([socket.type])}"></div>
          {{ socket.name }}
          <div v-if="socket.parentDataframe" class="block-socket-dfchild"></div>
          <div class="block-socket-dot" :class="{'block-socket-disabled': !!overflowFilter}" @mousedown="createNewPipe($event, socketId)">
            <svg viewBox="0 0 7 7">
              <line x1="0" y1="3.5" x2="7" y2="3.5" stroke="black" stroke-width="1"/>
              <line x1="3.5" y1="0" x2="3.5" y2="7" stroke="black" stroke-width="1"/>
            </svg>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex'

  import {tween, getPlugYPos} from '../vuex/utils.js'

  import typeColours from '../utils/typecolours.js'

  const delay = 300;

  export default {
    data() {
      return {
        expanded: false,
        overplug: false,
        overbase: false,
        height: 19,
        expandTimeout: 0,
        collapseTimeout: 0,
        overflowMenuOpen: false,
        overflowFilter: null,
        pendingPipeId: null,
      }
    },
    props: {
      overflow: Boolean,
      type: String,
      socket: Object,
      sockets: Object,
      socketId: String,
      ypos: Number,
      isfirstdfchild: Boolean,
    },
    computed: {
      expandedHeight() {
        return this.noOfPipes * 19 + 5
      },
      top() {
        return -(this.height/2) + (19/2)
      },
      yposCenter() {
        return this.ypos + 18;
      },
      noOfPipes() {
        return Object.keys(this.socket.pipes).length;
      },
      pipes() {
        var pipeIds = Object.keys(this.socket.pipes),
            pipePos = {};

        for (let pipeId of pipeIds) {
          pipePos[pipeId] = getPlugYPos(this.$store, pipeId, (this.type === 'in') ? 'start' : 'end');
        }

        return pipeIds.sort((a, b) => {
          return pipePos[a] - pipePos[b];
        })
      },
      newPipeDisabled() {
        return (this.type === 'in' && this.noOfPipes > 0) || this.overflow
      },
      socketTypes() {
        if (this.overflow) {
          return Object.values(this.sockets).reduce((types, socket) => {
            types.push(socket.type);
            return types
          }, [])
        } else {
          return (this.type === 'out') ? [this.socket.type] : this.socket.type;
        }
      },
      socketName() {
        return this.socket && this.socket.name;
      },
      datatypeColour() {
        return this.overflow ? null : this.getSocketColour(this.socketTypes);
      },
      dehighlighted() {
        if (!this.socketFilters.socketType) return false;
        return this.socketFilters.socketType !== this.type+'sockets' ||
          !this.$parent.activeSockets.includes(this);
      },
      isDataframeChild() {
        return !!(this.socket && this.socket.parentDataframe)
      },
      filteredOverflowSockets() {
        if (this.overflowFilter && this.overflowFilter.length) {
          return Object.entries(this.sockets).reduce((sockets, [socketId, socket]) => {
            if (this.overflowFilter.includes(socket.type)) {
              sockets[socketId] = socket;
            }
            return sockets;
          }, {});
        }
        return this.sockets;
      },
      ...mapGetters([
        'globalDragging',
        'canvasOrigin',
        'canvasPos',
        'socketFilters',
      ])
    },
    methods: {
      getSocketColour(types) {
        const typeCount = types.length;
        if (typeCount === 1) return typeColours[types[0]];

        const typeColourArray = types.map((type, index) => {
          let colour = typeColours[type];
          return `${colour} ${(index/typeCount)*100}%, ${colour} ${((index+1)/typeCount)*100}%`
        });
        return `linear-gradient(180deg, ${typeColourArray.join(', ')})`;
      },
      updateSocketWidth() {
        this.$emit('width-update', this.type, this.socketId, this.$el.scrollWidth);
      },
      updateSocketPos() {
        this.updateSocketPosition({
          blockId: this.$parent.blockId,
          type: this.type,
          socketId: this.socketId,
          pos: this.$el.offsetTop+10
        });
      },
      mouseenter(base) {
        if (base) this.overbase = true
        else this.overplug = true

        if (this.noOfPipes > 1) {
          if (!this.expanded && !this.expandTimeout) {
            this.expandTimeout = setTimeout(() => {
              this.expandTimeout = 0;
              this.expanded = true;
            }, delay)
          }
          else if (this.collapseTimeout) {
            clearTimeout(this.collapseTimeout);
            this.collapseTimeout = 0;
          }
        }
      },
      mouseleave(base) {
        if (base) this.overbase = false
        else this.overplug = false

        if (this.expanded && !this.overbase && !this.overplug) {
          if (!this.collapseTimeout) {
            this.collapseTimeout = setTimeout(() => {
              this.timeout = 0;
              this.expanded = false;
            }, delay)
          }
        }
        else if (this.expandTimeout) {
          clearTimeout(this.expandTimeout);
          this.expandTimeout = 0;
        }
      },
      createNewPipe(e, socketId = this.socketId) {
        if (this.overflow) this.closeOverflowMenu();

        let origin = {
            block: this.$parent.blockId,
            socket: socketId
          },
          freeEnd = {
            pos: {
              x: e.clientX - this.canvasOrigin.x - this.canvasPos.x,
              y: e.clientY - this.canvasOrigin.y - this.canvasPos.y
            }
          }
        this.addPipe({
          pipe: {
            start: (this.type === 'out') ? origin : freeEnd,
            end: (this.type === 'in') ? origin : freeEnd
          }
        }).then((pipeId) => {
          this.$root.$emit('pipeDragStart-'+pipeId, e, (this.type === 'in') ? 'start' : 'end');
        })
      },
      pipeConnected(pipeId) {
        if (!this.overflow) {
          this.attachPipe({
            pipeId: pipeId,
            blockId: this.$parent.blockId,
            socketType: this.type+'sockets',
            socketId: this.socketId,
          })
        } else {
          const endPlug = this.$store.getters.pipes[pipeId].end;
          const endSocket = (endPlug.block) ? this.$store.getters.blocks[endPlug.block].insockets[endPlug.socket] : null;

          this.overflowFilter = (endSocket) ? endSocket.type : [];
          this.pendingPipeId = pipeId;
          this.openOverflowMenu();
        }
      },
      selectOverflowSocket(socketId) {
        this.attachPipe({
          pipeId: this.pendingPipeId,
          blockId: this.$parent.blockId,
          socketType: this.type+'sockets',
          socketId: socketId,
        })
        this.pendingPipeId = null;
        this.closeOverflowMenu();
      },
      openOverflowMenu() {
        this.overflowMenuOpen = true;
        document.addEventListener('mousedown', this.closeOverflowMenu, true);
      },
      closeOverflowMenu(e) {
        if (e && e.path.includes(this.$el)) return;
        document.removeEventListener('mousedown', this.closeOverflowMenu, true);
        this.overflowMenuOpen = false;

        this.overflowFilter = null;

        if (this.pendingPipeId) {
          this.ejectPipe({
            pipeId: this.pendingPipeId,
            pipePlug: 'start',
          })
          this.pendingPipeId = null;
        }
      },
      ...mapActions([
        'updateSocketPosition',
        'updatePlugOffset',
        'addPipe',
        'attachPipe',
        'ejectPipe',
      ])
    },
    watch: {
      expanded(expanded) {
        if (!(this.height === 19 || this.height === this.expandedHeight)) {
          tween.cancel('socket-'+this.$parent.blockId+'-'+this.socketID);
        }
        tween.start('socket-'+this.$parent.blockId+'-'+this.socketID, {
          type: 'linear',
          duration: 100,
          from: this.height,
          to: (expanded) ? this.expandedHeight : 19
        }, ({progress, value}) => {
          this.height = value;
        });
      },
      height(val) {
        for (var i = 0, len = this.pipes.length; i < len; i++) {
          this.pipes[i]
          this.updatePlugOffset({
            blockId: this.$parent.blockId,
            socketId: this.socketId,
            pipeId: this.pipes[i],
            offset: ((i*19)-((len-1)*19/2))*((val-19)/(this.expandedHeight-19))
          });
        }
      },
      globalDragging(val) {
        if (this.collapseTimeout) {
          clearTimeout(this.collapseTimeout)
          this.collapseTimeout = 0
        }
        if (this.expandTimeout) {
          clearTimeout(this.expandTimeout)
          this.expandTimeout = 0
        }
        if (this.expanded) {
          this.expanded = false
        }
      },
      yposCenter: {
        handler(val) {
          if (!this.overflow) {
            this.updateSocketPosition({
              blockId: this.$parent.blockId,
              type: this.type,
              socketId: this.socketId,
              pos: val
            });
          }
        },
        immediate: true
      },
      socketName: {
        handler() {
          this.$nextTick(() => {
            this.updateSocketWidth()
          })
        },
        immediate: true
      }
    },
    mounted() {
      this.$root.$on('plugover-'+this.$parent.blockId+'-'+this.socketId, this.mouseenter);
      this.$root.$on('plugout-'+this.$parent.blockId+'-'+this.socketId, this.mouseleave);

      this.$root.$on(`pipeConnected-${this.$parent.blockId}-${this.type}-${this.socketId}`, this.pipeConnected);
    },
    destroyed() {
      this.$emit('socket-remove', this.type, this.socketId)
    }
  }
</script>

<style lang="stylus" scoped>
  @import '../stylus/imports'

  $blockColour = #45444B
  $blockHeaderColour = #3E3D44

  .block-insocket, .block-outsocket {
    position: absolute
    left: 0px
    margin: 8px 0
    font-size: 12px
    padding-left: 40px
    padding-right: 10px
    height: 19px
    line-height: 19px
    white-space: nowrap
    transition: opacity 0.15s ease-out

    &.dehighlighted {
      opacity: 0.3
      transition-delay: 0.05s
    }

    &.expanded {
      z-index: 1

      &:before {
        background: #333
      }
    }

    .block-socket-back {
      position: absolute
      box-sizing: border-box
      left: 0px
      width: 34px
      height: 19px
      background: #333
      border-radius: 0 10px 10px 0
      pointer-events: none
      // box-shadow: inset 0 0 2px rgba(0,0,0,0.4)

      &-overflow {
        background: #888
        box-shadow: 0 3px 0 #6d6d6d, 0 6px 0 #585858
      }

      &.block-socket-back-expanded {
        box-shadow: none
      }
    }
    .block-socket-dot {
      position: absolute
      background: rgba(255,255,255,0.9)
      border-radius: 50%
      height: 11px
      width: 11px
      top: 4px
      left: 19px

      &:hover svg {
        opacity: 0.6
      }

      svg {
        position: absolute
        width: 7px
        height: 7px
        top: 2px
        left: 2px
        opacity: 0
      }

      &.block-socket-disabled {
        opacity: 0.3
        pointer-events: none
      }
    }

    &.isdfchild {
      padding-right: 50px
      font-weight: 300
    }
  }

  .block-outsocket {
    left: auto
    right: 0px
    padding-left: 10px
    padding-right: 40px

    .block-socket-back {
      left: auto
      right: 0px
      border-radius: 10px 0 0 10px
    }
    .block-socket-dot {
      left: auto
      right: 19px
    }
  }

  .block-outsocket-expand {
    position: absolute
    right: 0px
    top: 0px
    height: 19px
    width: 26px
    background: #333
    border-radius: 10px 1px 1px 10px
    box-sizing: border-box
    //border: 2px solid $blockColour
    z-index: -1

    &.shadow {
      shadow(2)
    }
  }

  .block-socket-dfchild {
    position: absolute
    bottom: 9px
    right: 36px
    height: 34px
    width: 6px
    border: 1px solid rgba(255,255,255,0.4)
    border-top: none
    border-right: none

    &.block-socket-dfchild-first {
      height: 25px
    }
  }

  .block-socket-overflow-more
    padding: 2px 6px 6px 6px
    margin-right: -4px
    border-radius: 3px
    cursor: pointer

    &:hover
      background: rgba(white, 0.08)

  .block-socket-overflow
    position: absolute
    top: -3px
    right: 0px
    background: $blockHeaderColour
    shadow(2)
    border-radius: 4px
    max-height: 195px
    overflow: overlay
    opacity: 0.95
    transition: transform .15s, opacity .10s
    transform-origin: center 15px

    &::-webkit-scrollbar
      width: 0px

  .block-socket-overflow-socket
    position: relative
    text-align: right
    margin: 0
    padding-top: 8px
    padding-bottom: 8px

    .block-socket-dot
      margin-top: 8px

    .block-socket-dfchild
      margin-bottom: 8px

    .block-socket-overflow-filtered &:hover
      background: alpha(white, 0.08)
      cursor: pointer

  .overflow-menu-enter, .overflow-menu-leave-to
    transform: scaleY(0)
    opacity: 0

  .overflow-menu-leave-active
    transition-delay: 0s, .05s
</style>
