<template>
  <div class="titlebarsubmenu">
    <div v-for="menuItem in menu" class="titlebarsubmenu-item" @click="menuItemClick(menuItem)">
      {{ menuItem.label }}
      <span v-if="menuItem.accelerator">{{ menuItem.accelerator | convertCmdOrCtrl }}</span>
    </div>
  </div>
</template>

<script>
  const ipc = window.require('electron').ipcRenderer;

  export default {
    props: {
      menu: Array
    },
    methods: {
      menuItemClick(menuItem) {
        if (menuItem.id) {
          ipc.send('menuItemClick', menuItem.id);
        }
      }
    },
    filters: {
      convertCmdOrCtrl(value) {
        return value.replace('CmdOrCtrl', 'Ctrl')
      }
    }
  }
</script>

<style lang="stylus">
  @import '../stylus/imports'

  .titlebarsubmenu {
    position: absolute
    top: 100%
    left: 0
    background: rgba(31, 31, 31, 0.95)
    border-radius: 3px
    border-top-left-radius: 0
    backdrop-filter: blur(2px)

    &:before {
      position: absolute
      content: ''
      top: 0
      left: 0
      right: 0
      bottom: 0
      shadow(2)
      border-radius: 3px
      border-top-left-radius: 0
      pointer-events: none
    }
  }
  .titlebarsubmenu-item {
    padding: 0 15px
    white-space: nowrap
    display: flex
    justify-content: space-between

    &:hover {
      background: rgba(255,255,255,0.07)
    }

    span {
      padding-left: 10px
      opacity: 0.3
    }
  }
</style>
