<template>
<div>
  <div class="window-border" :style="{
    borderColor: windowBorderColour
  }"></div>
  <div class="titlebar">
    <div class="titlebar-title">
      <img class="titlebar-icon" src="./titlebar/icon_16px.png" alt="" />
      R&thinsp;←&thinsp;FLOW&hairsp;_
      <titlebar-menu></titlebar-menu>
    </div>

    <div class="titlebar-filename" :class="{'titlebar-newfile' : !filename}">
      {{ windowTitle }}
    </div>

    <div class="titlebar-windowbuttons">
      <div class="titlebar-button titlebar-minimise" @click="minimise" title="Minimise">
        <img src="./titlebar/minimise.png" alt="Minimise" />
      </div>
      <div class="titlebar-button titlebar-maxrestore" @click="maxRestore" :title="(!maximised) ? 'Maximise' : 'Restore Down'">
        <img v-if="!maximised" src="./titlebar/maximise.png" alt="Maximise" />
        <img v-if="maximised" src="./titlebar/restore.png" alt="Restore Down" />
      </div>
      <div class="titlebar-button titlebar-close" @click="close" title="Close">
        <img src="./titlebar/close.png" alt="Close" />
      </div>
    </div>
  </div>
</div>
</template>

<script>
  import {mapGetters} from 'vuex'

  import titlebarMenu from './titlebarMenu.vue'

  const browserWindow = window.require('electron').remote.getCurrentWindow();

  export default {
    components: { titlebarMenu },
    data() {
      return {
        maximised: browserWindow.isMaximized(),
        focused: browserWindow.isFocused(),
        menuOpen: false,
        borderHighlightColour: (() => {
          let accent = window.require('electron').remote.systemPreferences.getAccentColor()
          let r = Math.round(parseInt(accent.slice(0,2), 16) * 0.85),
              g = Math.round(parseInt(accent.slice(2,4), 16) * 0.85),
              b = Math.round(parseInt(accent.slice(4,6), 16) * 0.85);
          return `rgb(${r},${g},${b})`
        })()
      }
    },
    methods: {
      maxRestore() {
        if (!this.maximised) {
          browserWindow.maximize();
        }
        else {
          browserWindow.unmaximize();
        }
      },
      minimise() {
        browserWindow.minimize();
      },
      close() {
        browserWindow.close();
      }
    },
    computed: {
      windowBorderColour() {
        return this.focused ? this.borderHighlightColour : '#444';
      },
      windowTitle() {
        return `${this.unsaved?'● ':''}${this.filename?this.filename:'new document'}`
      },
      ...mapGetters([
        'filename',
        'unsaved'
      ])
    },
    watch: {
      windowTitle: {
        handler(title) {
          document.title = title;
        },
        immediate: true
      }
    },
    created() {
      browserWindow.on('maximize', () => {this.maximised = true});
      browserWindow.on('unmaximize', () => {this.maximised = false});
      browserWindow.on('focus', () => {this.focused = true});
      browserWindow.on('blur', () => {this.focused = false});
    },
    destroyed() {
      browserWindow.removeAllListeners('maximize');
      browserWindow.removeAllListeners('unmaximize');
      browserWindow.removeAllListeners('focus');
      browserWindow.removeAllListeners('blur');
    }
  }
</script>

<style lang="stylus">
  .window-border {
    position: absolute
    top: 0px
    left: 0px
    right: 0px
    bottom: 0px
    border: 1px solid #3A3C41
    pointer-events: none
    z-index: 1000000000
  }

 .titlebar {
   position: absolute
   top: 1px
   left: 1px
   right: 1px
   height: 32px
   font-size: 14px
   z-index: 100000
   display: flex
   justify-content: space-between
   align-items: center
   -webkit-app-region: drag

   &:before {
     position: absolute
     content: ''
     top: 0
     left: 0
     right: 0
     bottom: 0
     backdrop-filter: blur(15px)
     background: alpha(#262626, 0.9)
     z-index: -1
   }
 }
 .titlebar-windowbuttons {
   display: flex
   -webkit-app-region: no-drag
   flex-shrink: 0
 }
 .titlebar-button {
   position: relative
   height: 29px
   width: 45px
   margin-left: 1px
   margin-bottom: 3px

   &:hover {
     background: rgba(255,255,255,0.1)
   }
   &:active {
     background: rgba(255,255,255,0.2)
   }

   & img {
     position: absolute
     top: 9px
     left: 17px
     width: 10px
     height: 10px
     margin: 0
     pointer-events: none
   }
 }
 .titlebar-close {
   &:hover {
     background: #E81123
   }
   &:active {
     background: #F1707A
   }
 }
 .titlebar-title {
   display: flex
   align-items: center
   height: 100%
   font-size: 12px
   flex-shrink: 0
   cursor: default
 }
 .titlebar-icon {
   margin: 7px
 }
 .titlebar-filename {
   opacity: 0.8
   overflow: hidden
   margin: 0 7px
   text-overflow: ellipsis
   height: 32px
   line-height: 32px
   white-space: nowrap

   &.titlebar-newfile {
     font-style: italic
     opacity: 0.6
   }
 }
</style>
