<template>
<transition name="dropdown">
  <div v-if="open" class="titlemenu-overlay" @click="closeMenu">

    <div class="titlemenu">
      <div class="titlemenu-item">
        <icon name="insert_drive_file"></icon>
        New
      </div>

      <div class="titlemenu-sep"></div>

      <div class="titlemenu-item">
        <icon name="folder_open"></icon>
        Open
      </div>
      <div class="titlemenu-item">
        <icon name="access_time"></icon>
        Recents
        <icon name="keyboard_arrow_right" class="titlemenu-righticon"></icon>
      </div>

      <div class="titlemenu-sep"></div>

      <div class="titlemenu-item">
        <icon name="save"></icon>
        Save
      </div>
      <div class="titlemenu-item">
        <icon name="save_as"></icon>
        Save As
      </div>
    </div>

  </div>
</transition>
</template>

<script>
  import icon from '../ui-components/icon.vue'
  import '../icons/insert_drive_file.svg'
  import '../icons/folder_open.svg'
  import '../icons/access_time.svg'
  import '../icons/save.svg'
  import '../icons/keyboard_arrow_right.svg'
  import './titlebar/save_as.svg'

  export default {
    components: { icon },
    props: {
      open: Boolean
    },
    methods: {
      closeMenu() {
        this.$emit('close-menu');
      }
    }
  }
</script>

<style lang="stylus">
  @import '../stylus/imports'

  .titlemenu-overlay {
    position: fixed
    top: 33px
    left: 0
    right: 0
    bottom: 0
    background: rgba(0,0,0,0.5)
    /*overflow: hidden*/
    transition: opacity .10s ease-out
    z-index: 10000
  }

  .titlemenu {
    position: absolute
    top: 0px
    left: 0px
    /*width: 200px*/
    background: tint(#262626, 10%)
    shadow(2)
    cursor: default
    transition: transform .20s ease-out
  }
  .titlemenu-item {
    height: 38px
    display: flex
    align-items: center
    padding: 0 32px 0 12px
    font-size: 13px

    svg {
      margin-right: 8px
      width: 19px
      opacity: 0.6
    }

    &:hover {
      background: rgba(255,255,255,0.1)
    }

    &:active {
      background: rgba(255,255,255,0.2)
    }

    .titlemenu-righticon {
      margin-right: -24px
      margin-left: 18px
    }
  }
  .titlemenu-sep {
    border-bottom: 1px solid rgba(255,255,255,0.25)
    margin: 3px 8px
  }

  .dropdown-enter, .dropdown-leave-active {
    opacity: 0

    .titlemenu {
      transform: translateY(-100%)
    }
  }
  .dropdown-leave-active {
    transition-delay: .15s

    /*.titlemenu {
      transition-delay: 0s
    }*/
  }
</style>
