<template>
  <div class="titlebarmenu">
    <div v-for="menuItem in menu" class="titlebarmenu-item"
      :class="{
        'titlebarmenu-highlighted': activeMenu === menuItem.label
      }"
      @click="menuClick(menuItem)"
      @mouseover="menuMouseover(menuItem)"
    >
      {{ menuItem.label }}
      <titlebar-submenu
        v-if="menuItem.submenu && activeMenu === menuItem.label"
        :menu="menuItem.submenu"
      ></titlebar-submenu>
    </div>
  </div>
</template>

<script>
  import template from '../../shared/menuTemplate.js'

  import titlebarSubmenu from './titlebarSubmenu.vue'

  export default {
    components: {titlebarSubmenu},
    data() {
      return {
        menu: template(),
        activeMenu: ''
      }
    },
    methods: {
      menuClick(menuItem) {
        this.activeMenu = this.activeMenu ? '' : menuItem.label
      },
      menuMouseover(menuItem) {
        if (this.activeMenu) {
          this.activeMenu = menuItem.label
        }
      },
      documentClick(e) {
        if (!e.path.includes(this.$el)) {
          this.activeMenu = ''
        }
      }
    },
    watch: {
      activeMenu(val, oldVal) {
        if (val && !oldVal) {
          window.document.addEventListener('mousedown', this.documentClick, true);
        }
        else if (!val && oldVal) {
          window.document.removeEventListener('mousedown', this.documentClick, true);
        }
      }
    }
  }
</script>

<style lang="stylus">
  @import '../stylus/imports'

  .titlebarmenu {
    height: 32px
    line-height: 32px
    margin-left: 15px
    display: flex
    font-size: 13px
    -webkit-app-region: no-drag
    backdrop-filter: none
  }
  .titlebarmenu-item {
    position: relative
    padding: 0 10px
    &:hover, &.titlebarmenu-highlighted {
      &:after {
        content: ''
        position: absolute
        left: 0
        bottom: 0
        right: 0
        border-bottom: 2px solid $primaryColour
      }
    }
  }
</style>
