<template>
  <div @dragover.prevent="$event.dataTransfer.dropEffect = 'none'" @drop.prevent>
    <title-bar></title-bar>
    <block-graph></block-graph>
    <snackbar></snackbar>
  </div>
</template>

<script>
  import store from './vuex/store.js'

  import {mapActions} from 'vuex'

  import blockGraph from './components/blockgraph.vue'
  import titleBar from './components/titlebar.vue'
  import snackbar from './ui-components/snackbar.vue'

  const ipc = window.require('electron').ipcRenderer
  const remote = window.require('electron').remote

  const ipcPromise = require('../shared/ipcPromise.js');

  export default {
    components: {blockGraph, titleBar, snackbar},
    store,
    methods: {
      ...mapActions([
        'loadBlockGraphData',
        'getBlockGraphData'
      ])
    },
    created() {
      ipcPromise.registerListener('getBlockgraph', (sender, respond) => {
        this.getBlockGraphData().then((blockgraph) => {
          respond(null, blockgraph);
        })
        .catch(respond);
      })

      ipc.on('fileLoadingStarted', (event, filepath) => {
        this.$store.commit('SET_FILEPATH', filepath)
        this.$store.commit('SET_FILE_LOADING', true);
      })
      ipc.on('loadBlockgraph', (event, blockgraph) => {
        this.loadBlockGraphData(blockgraph);
      })
      ipc.on('fileLoadingFinished', (event) => {
        this.$store.commit('SET_FILE_LOADING', false);
      })
      ipc.on('fileLoadingFailed', (event, err) => {
        this.$store.commit('SET_FILE_LOADING', false);
        this.$store.commit('SET_FILEPATH', '');
        this.loadBlockGraphData({blocks: {}, pipes: {}});
        this.$root.$emit('fileLoadingError', err);
      })
      ipc.on('fileSaved', (event, filepath) => {
        this.$store.commit('SET_FILEPATH', filepath)
        this.$store.commit('SET_UNSAVED', false);
        this.$root.$emit('notification', 'Saved');
      })
      ipc.on('fileSaveFailed', (event) => {
        this.$root.$emit('notification', 'Saving Failed!', false);
      })
      remote.getCurrentWindow().appWindowReady();
    },
    destroyed() {
      remote.getCurrentWindow().appWindowUnready();
    }
  }
</script>

<style lang="stylus">
  @import './stylus/imports'
  @import './stylus/scrollbars'
  @import './stylus/checkbox'
  @import './stylus/radio'

  body {
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif !important
    color: $primaryLightTextColour
    background-color: $mainDarkBackground
    user-select: none
  }


</style>
