<template>
  <div class="cluster">
    <div class="cluster-param" v-for="(param, index) in clusterParams" :key="param">
      <ui-select label="Cluster by" :invalid="param.col?'':'Required'" :options="getCols(param)" @blur="onBlur" v-model="param.col"></ui-select>
      <textinput class="cluster-within" :invalid="isValidWithin(param)" label="Within" @blur="onBlur" v-model="param.within"></textinput>
      <div class="cluster-param-remove"
        :class="{'cluster-param-remove-hidden': clusterParams.length === 1}"
        @click="removeParam(index)">×</div>
    </div>
    <div class="cluster-param-add" v-if="clusterParams.length < allValidCols.length" @click="addParam">+ add parameter</div>
  </div>
</template>

<script>
const param = {col: null, within: null};

export default {
  data() {
    return {
      clusterParams: this.optionsData.params || [{...param}],
    }
  },
  props: {
    connectedInputs: Object,
    optionsData: Object,
  },
  computed: {
    allValidCols() {
      if (this.connectedInputs.in) {
        return this.connectedInputs.in.dataframe
          .filter(item => item.type === 'numeric')
          .map(item => item.name)
      }
      return [];
    },
    availableCols() {
      const usedCols = this.clusterParams.map(param => param.col).filter(col => !!col);
      return this.allValidCols.filter(col => !usedCols.includes(col));
    },
    allValid() {
      for (let param of this.clusterParams) {
        if (!param.col) return false;
        if (this.isValidWithin(param)) return false;
      }
      return true;
    },
  },
  methods: {
    getCols(param) {
      const cols = (param.col) ? [param.col, ...this.availableCols] : this.availableCols;
      return cols.map(col => ({value: col}));
    },
    addParam() {
      this.clusterParams.push({...param});
    },
    removeParam(index) {
      this.clusterParams.splice(index, 1);
      this.$nextTick(this.onBlur);
    },
    isValidWithin(param) {
      if (!param.within) return 'Required';
      if (!/^-?\d*\.?\d+$/.test(param.within)) return 'Must be number';
      return '';
    },
    onBlur() {
      if (this.allValid) {
        this.$emit('options-valid');
      }
    }
  },
  watch: {
    clusterParams: {
      handler(params) {
        this.$emit('update-options-data', 'params', params);
      },
      deep: true,
    }
  },
  updated() {
    this.$emit('update-size');
  },
  created() {
    this.onBlur();
  },
}
</script>

<style lang="stylus" scoped>
.cluster
  width: 210px
  display: flex
  flex-direction: column

.cluster-param
  display: flex
  align-items: flex-end

  .cluster-within
    width: 85px

.cluster-param-add
  padding: 3px 8px
  cursor: pointer
  border-radius: 3px
  align-self: start

  &:hover
    background: alpha(black, 0.15)

.cluster-param-remove
  font-size: 20px
  border-radius: 50%
  height: 20px
  width: 20px
  line-height: 15px
  margin-bottom: 12px
  padding: 0
  flex-shrink: 0
  text-align: center
  opacity: 0.3
  cursor: pointer

  &:hover
    opacity: 1

  &.cluster-param-remove-hidden
    pointer-events: none
    opacity: 0
</style>
